@include font-face-full("OpenSansRegular", "OpenSansRegular", normal, normal);
@include font-face-full("OpenSansSemiBold", "OpenSansSemiBold", normal, normal);
@include font-face-full("OpenSansBold", "OpenSansBold", normal, normal);
@include font-face-full("IconsFont", "IconsFont", normal, normal);
@include font-face-full("IconsFont2", "IconsFont2", normal, normal);
@include font-face-full("slick", "slick", normal, normal);


[class^="icon-"]:before, [class*=" icon-"]:before, .icon-template,
[class^="icon2-"]:before, [class*=" icon2-"]:before{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconsFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon2-"]:before, [class*=" icon2-"]:before, .icon-template2 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconsFont2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before{
  content: "\e117";
}
.icon-phone:before{
  content: "\e102";
}
.icon-map:before{
  content: "\e101";
}
.icon-cart:before{
  content: "\e100";
}
.icon-search:before{
  content: "\e103";
}
.icon-calendar:before{
  content: "\e104";
}
.icon-clicker:before{
  content: "\e105";
}
.icon-pipe:before{
  content: "\e106";
}
.icon-braclet:before{
  content: "\e107";
}
.icon-mortar:before{
  content: "\e108";
}
.icon-chess:before{
  content: "\e109";
}
.icon-anchor:before{
  content: "\e110";
}
.icon-treasure:before{
  content: "\e111";
}
.icon-giftbox:before{
  content: "\e112";
}
.icon-lamp:before{
  content: "\e113";
}
.icon-star:before{
  content: "\e114";
}
.icon-arrow:before{
  content: "\e115";
}
.icon-email:before{
  content: "\e116";
}
.icon-catalog:before{
  content: "\e118";
}
.icon-house:before{
  content: "\e119";
}
.icon-man:before{
  content: "\e120";
}
.icon-new:before{
  content: "\e121";
}
.icon-promo:before{
  content: "\e122";
}
.icon-fb:before{
  content: "\e123";
}
.icon-arrow-down:before{
  content: "\e124";
}
.icon-arrow-up:before{
  content: "\e130";
}
.icon-cards:before{
  content: "\e125";
}
.icon-list:before{
  content: "\e126";
}
.icon-price:before{
  content: "\e127";
}
.icon-star-full:before{
  content: "\e128";
}
.icon-chart:before{
  content: "\e129";
}
.icon-gl:before{
  content: "\e131";
}
.icon2-ar-long-l:before{
  content: '\e200';
}
.icon2-ar-long-r:before{
  content: '\e201';
}
.icon2-skype:before{
  content: '\e202';
}





