html {
  font-size: $FontSizeBase;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  position: relative;
  color: $ColorBase;
  font-family: $FontBase;
  font-weight: 300;
  line-height: 1;
  background: $BgBase;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: $MinWidth;
  font-size: 12px;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
}

input[type="text"], input[type="password"], textarea {
  font-family: Helvetica, sasn-serif;
}

.clear {
  clear: both;
}

.fw:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.fl {
  float: left;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 148px;
  background-image: url('../images/bg/wrap-bg.png');

  @media #{$media-1496} {
    padding:0;
  }
}

.base-content {
  position: relative;
  min-height: 30rem;
  background: #ffffff;

}

.main-content {
  float: right;
  width: 100%;
  padding: 3rem 2rem;


  @media#{$media-960}{
    float: none;
  }
  @media#{$media-686}{
    padding: 3rem 1rem;
  }

  @media #{$media-740}{
    padding-top: 1.3rem;
  }

  &._all-width {
    float: none;

    .main-content-inner {
      padding-left: 0;
    }
  }

  &__title {
    strong {
      text-transform: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .main-content.is-filter .main-content__title h1{
    margin-bottom: 3.2rem;
  }
}

.main-content-inner {
  padding-left: 31rem;

  @media screen and(max-width: 1580px){
    padding-left: 27rem;
  }
  @media #{$media-1285}{
    padding-left: 27rem;
  }

  @media #{$media-960}{
    padding-left:0;
    padding-top: 2rem;
  }
  @media #{$media-740}{
    padding-top: 1rem;
  }
}

.sidebar-bar {
  width: 25.8rem;
  float: left;
  @media #{$media-960} {
    float: none;
    width: 100%;
  }
}

.inner-width {
  max-width: $ContentMaxWidth;
  margin-left: auto;
  margin-right: auto;

  @media #{$media-1496} {
   max-width: 1200px;
  }
 /* @media #{$media-1008} {
    max-width: 768px;
  }
  @media #{$media-686} {
    max-width: 480px;
  }*/
}

.mobile-hidden {
  @media #{$media-960} {
    display: none;
  }
}