html {
  font-size: $FontSizeBase;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  position: relative;
  color: $ColorBase;
  font-family: $FontBase;
  font-weight: 300;
  line-height: 1;
  background: $BgBase;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: $MinWidth;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  text-size-adjust:none;
}

img {
  max-width: 100%;
}

input[type="text"], input[type="password"], textarea, input {
  font-family: Helvetica, sasn-serif;
  -webkit-border-radius: 0px;
  -webkit-appearance: none!important;;
  border-radius: none;
  
}
::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-family:$FontBase;color: #000000}
/* Firefox < 19 */
:-moz-placeholder {font-size: 1.4rem;
  font-family:$FontBase;color: #000000}
/* Firefox > 19 */
::-moz-placeholder {font-size: 1.4rem;
  font-family:$FontBase;color: #000000}
/* Internet Explorer 10 */
:-ms-input-placeholder{font-size: 1.4rem;
  font-family:$FontBase;color: #000000}

input:focus::-webkit-input-placeholder {opacity:0}
/* Firefox < 19 */
input:focus:-moz-placeholder {opacity:0}
/* Firefox > 19 */
input:focus::-moz-placeholder {opacity:0}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder{opacity:0}

textarea:focus::-webkit-input-placeholder {opacity:0}
/* Firefox < 19 */
textarea:focus:-moz-placeholder {opacity:0}
/* Firefox > 19 */
textarea:focus::-moz-placeholder {opacity:0}
/* Internet Explorer 10 */
textarea:focus:-ms-input-placeholder{opacity:0}

.clear {
  clear: both;
}

.fw:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.fl {
  float: left;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 148px;
  background-image: url('../images/bg/wrap-bg.png');

  @media #{$media-1496} {
    padding:0;
  }
}

.base-content {
  position: relative;
  min-height: 30rem;
  background: #ffffff;

}

.main-content {
  float: right;
  width: 100%;
  padding: 3rem 2rem;


  @media#{$media-960}{
    float: none;
  }
  @media#{$media-686}{
    padding: 3rem 1rem;
  }

  @media #{$media-740}{
    padding-top: 1.3rem;
  }

  &._all-width {
    float: none;

    .main-content-inner {
      padding-left: 0;
    }
  }

  &__title {
    strong {
      text-transform: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .main-content.is-filter .main-content__title h1{
    margin-bottom: 3.2rem;
  }
}

.main-content-inner {
  padding-left: 31rem;

  @media screen and(max-width: 1580px){
    padding-left: 27rem;
  }
  @media #{$media-1285}{
    padding-left: 27rem;
  }

  @media #{$media-960}{
    padding-left:0;
    padding-top: 2rem;
  }
  @media #{$media-740}{
    padding-top: 1rem;
  }
}

.sidebar-bar {
  width: 25.8rem;
  float: left;
  @media #{$media-960} {
    float: none;
    width: 100%;
  }

  &__other-page-link{
    font-family: $fopsb;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1.8rem;
    display: block;
    @media #{$media-960} {
      float: left;
      margin-right: 18px;
      margin-bottom: 0;
      height: 34px;
      line-height: 34px;
    }
    @media #{$media-686} {
      line-height: 1.1;
      width: 6.8rem;
      margin-right: 8px;
    }
  }
  &__delivery-info{
    float: right;
    width: 18.1rem;
    position: relative;
    padding-left: 3.6rem !important;
    margin-left: 1.5rem;
    display: none!important;
    white-space: nowrap;

    &:before{
      content: 'i';
      border-radius: 50%;
      border: 1px solid #007fc7;
      width: 1.7rem;
      height: 1.7rem;
      line-height: 1.7rem;
      text-align: center;
      display: block;
      position: absolute;
      left: 1.5rem;
      top: 8px;
    }
    span{
      line-height:1;
      border-bottom: 1px solid #007fc7;
    }
    @media #{$media-960} {
      display: block!important;
    }
    @media #{$media-686} {
      margin-left: 8px;
    }
  }

}

.inner-width {
  max-width: $ContentMaxWidth;
  margin-left: auto;
  margin-right: auto;

  @media #{$media-1496} {
   max-width: 1200px;
  }
 /* @media #{$media-1008} {
    max-width: 768px;
  }
  @media #{$media-686} {
    max-width: 480px;
  }*/
}

.mobile-hidden {
  @media #{$media-960} {
    display: none;
  }
}
.mobile-show {
  display: none;
  @media #{$media-960} {
    display: block;
  }
}