// Size
$MinWidth: 480px;
$ContentMaxWidth: 1478px;

// Responsive from large to small
$media-1728: "screen and (max-width: 1728px)"; //
$media-1496: "screen and (max-width: 1496px)"; // 1286-1496
$media-1285: "screen and (max-width: 1285px)"; // 1024-1285

$media-1166: "screen and (max-width: 1166px)";
$media-1023: "screen and (max-width: 1023px)";
$media-1008: "screen and (max-width: 1008px)";
$media-960: "screen and (max-width: 960px)";
$media-768: "screen and (max-width: 768px)";
$media-740: "screen and (max-width: 740px)";
$media-686: "screen and (max-width: 686px)";

$media-480: "screen and (max-width: 485px)"; // 320-479 (iphone 4 landscape not included)
$media-450: "screen and (max-width: 450px)"; // 320-479 (iphone 4 landscape not included)
$media-408: "screen and (max-width: 408px)"; // 320-479 (iphone 4 landscape not included)

//Fonts
$FontSizeBase: 10px;
$FontBase: 'OpenSansRegular', sans-serif;

$fopRegular: 'OpenSansRegular', sans-serif;
$fopSemib: 'OpenSansSemiBold', sans-serif;
$fopb: 'OpenSansBold', sans-serif;

//colors
$ColorBase: #21242f;
$lazur-crayola: #2ea6d3;
$dark: #21242f;
$cl-real-white: #ffffff;
$cl-real-black: #000000;

// Backgrounds
$BgBase: #fff;