.basket-small
    .basket-small__top
        .basket-small__top-control
            a(href="") Вход
        .basket-small__top-control
            a(href="") Регистрация

    .basket-small__main
        a(href="")
            .basket-small__info.icon-cart
                span.basket-small__info-goods 5 товаров&nbsp;
                span.basket-small__info-summ на <strong>24000 р</strong>
            .basket-small__text
                span Мин. сумма оптового #[strong заказа — 15 000 руб]

