.catalog-controls
    .catalog-controls__name
        span Вид:
    .catalog-controls__item.is-active.icon-list
        span Список
    .catalog-controls__item.icon-cards
        span Карточки
    .catalog-controls__item.icon-price
        span Прайс
    .catalog-controls__item
        input.main-checkbox(type="checkbox")
        label.main-checkbox-label Сортировка по коллекциям