section.detail-product
    .detail-product__top.fl
        .detail-product__header
            h1.detail-product__title Скульптура резная Слон в попоне 2Hai13
            .detail-product__label-block.label-block
                .detail-product__label.is-collection.label-block__label.is-green
                    span Есть коллекция!
        .detail-product__side
            .detail-product__gallery
                .detail-product__label-block.label-block
                    .detail-product__label.is-promo.label-block__label.is-orange
                        span Акция -20%
                .detail-product__big-photos
                    .detail-product__big-photos-list.js-detail-product-photos.index-0
                        div
                            a.detail-product__big-photos-link
                                img.detail-product__big-photos-img(src='../images/develop/d-pic-1.png')
                        div
                            a.detail-product__big-photos-link
                                img.detail-product__big-photos-img(src='../images/develop/d-pic-2.png')
                        div
                            a.detail-product__big-photos-link
                                img.detail-product__big-photos-img(src='../images/develop/d-pic-3.png')
                        div
                            a.detail-product__big-photos-link
                                img.detail-product__big-photos-img(src='../images/develop/d-pic-3.png')

                .detail-product__preview-photos
                    .detail-product__preview-photos-list.js-detail-product-preview-photos.index-0
                        div
                            a.detail-product__preview-photos-link
                                img.detail-product__preview-photos-img(src='../images/develop/d-pic-1.png')
                        div
                            a.detail-product__preview-photos-link
                                img.detail-product__preview-photos-img(src='../images/develop/d-pic-2.png')
                        div
                            a.detail-product__preview-photos-link
                                img.detail-product__preview-photos-img(src='../images/develop/d-pic-3.png')
                        div
                            a.detail-product__preview-photos-link
                                img.detail-product__preview-photos-img(src='../images/develop/d-pic-3.png')
        .detail-product__side
            .detail-product__content
                .detail-product__prod-description
                    span.detail-product__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                    span.detail-product__description-art Артикул: Hai06
                    span.detail-product__description-country Индонезия
                        img.detail-product__description-country-flag(src='../images/flags/fl-indonez.png')
                .detail-product__available
                        .detail-product__available-stock Наличие в Москве: #[span 50-100]
                        .detail-product__available-stock Наличие в Сочи: #[span больше 1000]
                        .detail-product__available-stock Фасовка 1 шт.
            .detail-product__controls
                .detail-product__buy-info
                    .detail-product__price
                        .detail-product__price-old 1200 руб.
                        .detail-product__price-cur 1120 руб.
                .detail-product__controls-main
                    .detail-product__controls-quantity
                        .detail-product__controls-quantity-text
                            span Кол-во
                            span Мин. 1шт
                        .detail-product__controls-count.main-count
                            .detail-product__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                            input.detail-product__controls-quantity-input
                            .detail-product__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                    .detail-product__btn.btn.is-green Купить
                .detail-product__controls-content
                    a.detail-product__controls-content-link.icon-star-full(href='') #[span В избранное]
                    a.detail-product__controls-content-link.icon-chart(href='') #[span Комментарий]


    .detail-product__footer
        .detail-product__description
            p Индия для всех представляется яркой и сказочной страной, где всегда светит солнце, а девушки ходят в ярких сари, привлекающих внимание. Чтобы стать обладателем сувенира из Индии, теперь не нужно ехать в эту страну. Достаточно лишь заказать их в нашем интернет-магазине.
            p Вам нравятся яркие ткани, расшитые многочисленными стразами или бисером? Давно мечтаете приобрести сари? Тогда мы будем рады вам в этом помочь!
            p Помимо сари, вы можете приобрести самые разнообразные украшения, которые поражают своей уникальностью и яркостью цветов. Девушки и женщины всего мира не смогут устоять перед ожерельями и браслетами из меди, инкрустированными цветными каменьями.
            p Для мужчин лучшим сувениром из Индии станет кинжал, рукоять которого декорирована потрясающей резьбой ручной работы, а острие ножа имеет невероятную форму и гравировку. Что уж говорить об индийских специях, которые способны придать любому блюду изысканный аромат и вкус. Вы сможете перенестись на мгновение в страну солнца и веселья. У нас вы так же можете приобрести знаменитый индийский чай, который упаковывается в цветные мешочки, чтобы сохранить его насыщенность и аромат. Деревянные статуэтки слонов привнесут в интерьер вашей комнаты некую изюминку и станут символом доброты, спокойствия и благополучия.



