.header-top
    .header-top__logo
        a.header-top__logo-link(href="#")
            img(src='../images/logo.png')
    .header-top__main-content.fw
        .header-top__column
            .header-top__shop-name
                h3 Интернет-магазин экзотических <br>сувениров и подарков оптом
        .header-top__column
            .header-top__phone.icon-phone
                a(href="tel:+7 (800) 700-52-10") +7 (800) 700-52-10
        .header-top__column
            .header-top__mail
                a(href="mailto:karavanmarket@mail.ru") karavanmarket@mail.ru
        .header-top__column
            .header-top__map.icon-map
                a(href="") Доставка по всей России
