.header-menu
    ul.header-menu__list
        li.header-menu__item
            a.header-menu__link(href="#") О компании
        li.header-menu__item
            a.header-menu__link(href="#") Новости
        li.header-menu__item
            a.header-menu__link.is-mobile-hide(href="#") Условия сотрудничества
            a.header-menu__link.is-mobile-show(href="#") Сотрудничество
        li.header-menu__item
            a.header-menu__link(href="#") Магазины
        li.header-menu__item
            a.header-menu__link(href="#") Контакты
