.left-news.is-mobile-hide
    h3.left-news__title Новости
    .left-news__items
        .left-news__item
            a.left-news__item-link(href='')
                h4.left-news__item-title Мебель Таиланд
            .left-news__anouns В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты
            .left-news__data.main-date.icon-calendar
                span 7 декабря 2017
        .left-news__item
            a.left-news__item-link(href='')
                h4.left-news__item-title АКЦИЯ до 12.12.2016
            .left-news__anouns Объявляем начало предновогоднейАКЦИИ нашего магазина: на 5 дней
            .left-news__data.main-date.icon-calendar
                span 7 декабря 2017
        .left-news__item
            a.left-news__item-link(href='')
                h4.left-news__item-title Черная пятница в Караване!
            .left-news__anouns В Караване Черная Пятница!! Только сегодня объявляем скидку 20%
            .left-news__data.main-date.icon-calendar
                span 25 ноября 2017

    a.left-news__all(href="#") Все Новости

