.left-reviews
    .left-reviews__title Отзывы
    .left-reviews__item
        .left-reviews__header
            .left-reviews__pic
                img(src="../images/develop/review_pic.png")
            .left-reviews__info
                .left-reviews__name Сергеева Оксана
                .left-reviews__date.main-date.icon-calendar
                    span 7 декабря 2017
        .left-reviews__content
            p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты

    a.left-reviews__all(href="#") Все Отзывы




