ul.main-slider__list.js-main-slider-1
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/1.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/2.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/3.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/1.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/2.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/3.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/1.png')
            span.main-slider__name Вазы деревянные (16)
    li.main-slider__item
        a.main-slider__link
            img.main-slider__image(src='../images/sect-pic/3sect-pic.png')
            span.main-slider__name Вазы деревянные (16)

