section.our-stores
    .our-stores__title Наши склады
    .our-stores__text Предлагаем посетить наш выставочный зал или зарегистрироваться на нашем сайте.
        |Вы найдете для себя много новой, интересной продукции, которая без сомнения заинтересует Вас и Ваших клиентов.

    .our-stores__list
        .our-stores__item
            .our-stores__item-title Склад в Москве
            .our-stores__item-gallery
                .our-stores__big-photos
                    .our-stores__big-photos-list.js-stores-photos.index-0
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                .our-stores__preview-photos
                    .our-stores__preview-photos-list.js-stores-preview-photos.index-0
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')
        .our-stores__item
            .our-stores__item-title Склад в Cочи
            .our-stores__item-gallery
                .our-stores__big-photos
                    .our-stores__big-photos-list.js-stores-photos.index-1
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                .our-stores__preview-photos
                    .our-stores__preview-photos-list.js-stores-preview-photos.index-1
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')
        .our-stores__item
            .our-stores__item-title Склад в Геленджике
            .our-stores__item-gallery
                .our-stores__big-photos
                    .our-stores__big-photos-list.js-stores-photos.index-2
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__big-photos-link
                                img.our-stores__big-photos-img(src='../images/develop/store-4.png')
                .our-stores__preview-photos
                    .our-stores__preview-photos-list.js-stores-preview-photos.index-2
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-1.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-2.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-3.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')
                        div
                            a.our-stores__preview-photos-link
                                img.our-stores__preview-photos-img(src='../images/develop/store-4.png')

