section.our-advantages
    h2.our-advantages__title Преимущества работы с нами:
    .our-advantages__list
        .our-advantages__item
            .our-advantages__item-image.spr-best
            .our-advantages__item-title Лучшие экзотические <br>сувениры
            .our-advantages__item-description Лучшие экзотические сувениры из Таиланда, Индии, Турки, Индонезии, Китая - на складе в Москве и Сочи, готовы к отгрузке
        .our-advantages__item
            .our-advantages__item-image.spr-delivery
            .our-advantages__item-title Доставка в любой <br>город РФ
            .our-advantages__item-description Мы доставим заказанные Вами сувениры и подарки в любой город России
        .our-advantages__item
            .our-advantages__item-image.spr-best-price
            .our-advantages__item-title Выгодная цена
            .our-advantages__item-description Лучшие экзотические сувениры из Таиланда, Индии, Турки, Индонезии, Китая - на складе в Москве и Сочи, готовы к отгрузке
        .our-advantages__item
            .our-advantages__item-image.spr-term
            .our-advantages__item-title Быстрые сроки
            .our-advantages__item-description Оформление и доставка заказов в удобные сроки
        .our-advantages__item
            .our-advantages__item-image.spr-manager
            .our-advantages__item-title Личный менеджер
            .our-advantages__item-description Наш менеджер всегда на связи, поможет решить все ваши вопросы