.pagination
        a.pagination__arrows.is-prev(href="")
            span.icon2-ar-long-l Предыдущие
        .pagination__content-wrap
            .pagination__content
                a.pagination__btn(href='')
                    span 1
                a.pagination__btn.is-active
                    span 2
                a.pagination__btn(href='')
                    span 3
                a.pagination__btn(href='')
                    span 4
                a.pagination__btn(href='')
                    span 5
        a.pagination__arrows.is-next(href="")
            span.icon2-ar-long-r Следующие
