.page-header-cart
    ul.page-header-cart__breadcrumbs
        li.page-header-cart__breadcrumbs-item.is-done
            span Моя <br>корзина
        li.page-header-cart__breadcrumbs-item.is-active
            span Оформление <br>заказа
        li.page-header-cart__breadcrumbs-item
            span Подтверждение <br>заказа
