.page-header-cart
    ul.page-header-cart__breadcrumbs
        li.page-header-cart__breadcrumbs-item.is-active
            span Моя корзина
        li.page-header-cart__breadcrumbs-item
            span Оформление заказа
        li.page-header-cart__breadcrumbs-item
            span Подтверждение заказа
