.plate-block.fw
    h2.plate-block__main-title Все товары (12 483)
    .plate-block__wrapps
        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='https://yandex.ru')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_1.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_2.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки Посуда из корицы,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_3.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Турецкая керамика (224)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_4.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Светильники (23)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Мозаика,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Нитяные,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Из кокоса, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') В виде животных, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Комбо
            .plate-block__image
                img(src="../images/sect-pic/1_5.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Пано
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_6.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_7.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_8.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_9.png")
        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_10.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_11.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Сундуки (23)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_12.png")

        .plate-block__elem.js-block-link(id="mm_sunduki")
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_13.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_14.png")

        .plate-block__elem.js-block-link(id='mm_polki_i_stellaji')
            a.plate-block__block-link(href='')
            h3.plate-block__title Полки и стеллажи (6)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_15.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_16.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_17.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_18.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_19.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_20.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дерева, Керамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_21.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_22.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_23.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_24.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_25.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Акссесуары (50)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Визитницы и портсигары, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Зеркальца,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Брелоки,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Трости, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Ложки для обуви
            .plate-block__image
                img(src="../images/sect-pic/1_26.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src='../images/sect-pic/1_27.png')

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image.plate-block__image
                img(src="../images/sect-pic/1_28.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image.plate-block__image
                img(src="../images/sect-pic/1_29.png")

        .plate-block__elem.js-block-link(id='mm_gazetnici')
            a.plate-block__block-link(href='')
            h3.plate-block__title Газетницы (7)
            .plate-block__content
                .plate-block__text
                    span Деревянные кашпо для газет и журналов ручной работы.
            .plate-block__image.plate-block__image
                img(src="../images/sect-pic/1_30.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image.plate-block__image
                img(src="../images/sect-pic/1_31.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_32.png")


        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_33.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_34.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_35.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_36.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_37.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_38.png")

        .plate-block__elem.js-block-link(id="mm_karandashi")
            a.plate-block__block-link(href='')
            h3.plate-block__title Карандаши (4)
            .plate-block__content
                .plate-block__text
                    span Декоративные карандаши ручной работы.
            .plate-block__image
                img(src="../images/sect-pic/1_39.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_40.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_41.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_42.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_43.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_44.png")

        .plate-block__elem.js-block-link(id='#mm_morskaya_romantika')
            a.plate-block__block-link(href='')
            h3.plate-block__title Морская романтика (21)
            .plate-block__content
                .plate-block__text
                    span Разнообразные предметы в морском стиле от брелоков до биноклей.
            .plate-block__image
                img(src="../images/sect-pic/1_45.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_46.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_47.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_48.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_49.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_50.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_50.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_51.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_52.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_53.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_54.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_55.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_56.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_57.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_58.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_59.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_60.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_61.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
                ul.plate-block__content-links
                    li.plate-block__content-item
                        a.plate-block__link(href='') Наборы для специй,
                    li.plate-block__content-item
                        a.plate-block__link(href='') Подставки, Посуда из корицы, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Посуда из дереваКерамика, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Терракота, 
                    li.plate-block__content-item
                        a.plate-block__link(href='') Медь и латунь
            .plate-block__image
                img(src="../images/sect-pic/1_62.png")



