.plate-block
    .plate-block__wrapps
        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='https://yandex.ru')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_1.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_2.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_3.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Турецкая керамика (224)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_4.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Светильники (23)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_5.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Пано
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_6.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_7.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_8.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Аксессуары для кухни (503)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_9.png")
        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_10.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_11.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Сундуки (23)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_12.png")

        .plate-block__elem.js-block-link(id="mm_sunduki")
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин (178)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_13.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title ТОП-50 (50)
            .plate-block__content
                .plate-block__text
                    span Top-50 подарков - <br>Подборка самых<br>продаваемых товаров<br>в 2016 году!
            .plate-block__image
                img(src="../images/sect-pic/1_14.png")

        .plate-block__elem.js-block-link(id='mm_polki_i_stellaji')
            a.plate-block__block-link(href='')
            h3.plate-block__title Полки и стеллажи (6)
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_15.png")

        .plate-block__elem.js-block-link
            a.plate-block__block-link(href='')
            h3.plate-block__title Подарки для женщин
            .plate-block__content
            .plate-block__image
                img(src="../images/sect-pic/1_16.png")

