.shops-info__list
    .shops-info__item
        .shops-info__item-side
            .shops-info__title Оптово-розничный магазин г.Сочи - Центр
            .shops-info__content
                strong Адрес:&nbsp
                span г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
            .shops-info__content
                strong Телефон:&nbsp
                span +7 (495)123-45-67
            .shops-info__content
                strong Время работы:&nbsp
                span Без выходных: 09.00 - 17.00

        .shops-info__item-side
            .shops-info__visual-content
                .shops-info__gallery
                    .shops-info__big-photos
                        .shops-info__big-photos-list.js-shops-info-photos.index-0
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                    .shops-info__preview-photos
                        .shops-info__preview-photos-list.js-shops-info-preview-photos.index-0
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                .shops-info__map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALbvN581brCEA14SL6eGaFTLmEsUpXJI_&amp;width=100%25&amp;height=145&amp;lang=ru_RU&amp;scroll=true"></script>



    .shops-info__item
        .shops-info__item-side
            .shops-info__title Оптово-розничный магазин г.Сочи - Центр
            .shops-info__content
                strong Адрес:&nbsp
                span г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
            .shops-info__content
                strong Телефон:&nbsp
                span +7 (495)123-45-67
            .shops-info__content
                strong Время работы:&nbsp
                span Без выходных: 09.00 - 17.00
            .shops-info__content
                strong Транспорт:&nbsp
                span <br> Сочи, Краснодарское кольцо Торговый комплекс &quot;Авангард&quot;, Павильон №52

        .shops-info__item-side
            .shops-info__visual-content
                .shops-info__gallery
                    .shops-info__big-photos
                        .shops-info__big-photos-list.js-shops-info-photos.index-1
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                    .shops-info__preview-photos
                        .shops-info__preview-photos-list.js-shops-info-preview-photos.index-1
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                .shops-info__map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALbvN581brCEA14SL6eGaFTLmEsUpXJI_&amp;width=100%25&amp;height=145&amp;lang=ru_RU&amp;scroll=true"></script>
    .shops-info__item
        .shops-info__item-side
            .shops-info__title Оптово-розничный магазин г.Сочи - Центр
            .shops-info__content
                strong Адрес:&nbsp
                span г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
            .shops-info__content
                strong Телефон:&nbsp
                span +7 (495)123-45-67
            .shops-info__content
                strong Время работы:&nbsp
                span Без выходных: 09.00 - 17.00

        .shops-info__item-side
            .shops-info__visual-content
                .shops-info__gallery
                    .shops-info__big-photos
                        .shops-info__big-photos-list.js-shops-info-photos.index-2
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                    .shops-info__preview-photos
                        .shops-info__preview-photos-list.js-shops-info-preview-photos.index-2
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                .shops-info__map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALbvN581brCEA14SL6eGaFTLmEsUpXJI_&amp;width=100%25&amp;height=145&amp;lang=ru_RU&amp;scroll=true"></script>
    .shops-info__item
        .shops-info__item-side
            .shops-info__title Оптово-розничный магазин г.Сочи - Центр
            .shops-info__content
                strong Адрес:&nbsp
                span г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
            .shops-info__content
                strong Телефон:&nbsp
                span +7 (495)123-45-67
            .shops-info__content
                strong Время работы:&nbsp
                span Без выходных: 09.00 - 17.00

        .shops-info__item-side
            .shops-info__visual-content
                .shops-info__gallery
                    .shops-info__big-photos
                        .shops-info__big-photos-list.js-shops-info-photos.index-3
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                    .shops-info__preview-photos
                        .shops-info__preview-photos-list.js-shops-info-preview-photos.index-3
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                .shops-info__map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALbvN581brCEA14SL6eGaFTLmEsUpXJI_&amp;width=100%25&amp;height=145&amp;lang=ru_RU&amp;scroll=true"></script>
    .shops-info__item
        .shops-info__item-side
            .shops-info__title Оптово-розничный магазин г.Сочи - Центр
            .shops-info__content
                strong Адрес:&nbsp
                span г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
            .shops-info__content
                strong Телефон:&nbsp
                span +7 (495)123-45-67
            .shops-info__content
                strong Время работы:&nbsp
                span Без выходных: 09.00 - 17.00

        .shops-info__item-side
            .shops-info__visual-content
                .shops-info__gallery
                    .shops-info__big-photos
                        .shops-info__big-photos-list.js-shops-info-photos.index-4
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__big-photos-link
                                    img.shops-info__big-photos-img(src='../images/develop/shop-1.png')
                    .shops-info__preview-photos
                        .shops-info__preview-photos-list.js-shops-info-preview-photos.index-4
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-2.png')
                            div
                                a.shops-info__preview-photos-link
                                    img.shops-info__preview-photos-img(src='../images/develop/shop-1.png')
                .shops-info__map
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ALbvN581brCEA14SL6eGaFTLmEsUpXJI_&amp;width=100%25&amp;height=145&amp;lang=ru_RU&amp;scroll=true"></script>


