section.subscribe-page-block
    .subscribe-page-block__top-text Хотие #[span скидку 3%]? Оставьте свои контакты
    form.subscribe-page-block__form.js-form
        .subscribe-page-block__line
            span.subscribe-page-block__name Ваше имя
            label.subscribe-page-block__label.icon-man Дмитрий
            input(type='text').subscribe-page-block__input
        .subscribe-page-block__line
            span.subscribe-page-block__name Email
            label.subscribe-page-block__label.icon-email gremyakov24_anton@mail.ru
            input(type='text').subscribe-page-block__input
        button(type="submit").subscribe-page-block__btn.btn.is-orange Жду скидку!