section.subscribe-block
    .subscribe-block__top-text
        span Будьте в курсе самых интересных предложений!
    form.subscribe-block__form.js-form
        .subscribe-block__line
            label.subscribe-block__label.icon-email gremyakov24_anton@mail.ru
            input(type='text').subscribe-block__input
        button(type="submit").subscribe-block__btn.btn.is-orange Подписаться

    .subscribe-block__bottom-text
        span Подпишитесь на нашу рассылку — вы узнаете, как сэкономить на покупках, где найти классные
            |новинки и не пропустите ни одной важной новости сайта.