.main-slider-page.viewed-products
    .main-slider-page__content.fw
        h2.main-slider-page__title Просмотернные товары
        .products-list.is-only-pic.fw
            .products-list__item
                .products-list__top
                    a(href='').products-list__img-link
                        img.products-list__img(src="../images/develop/pic-1.jpg")
                .products-list__middle
                    .products-list__info
                        .products-list__name
                            a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                        .products-list__description
                            span.products-list__description-art Артикул: Hai06
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
            .products-list__item
                .products-list__top
                    a(href='').products-list__img-link
                        img.products-list__img(src="../images/develop/pic-1.jpg")
                .products-list__middle
                    .products-list__info
                        .products-list__name
                            a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                        .products-list__description
                            span.products-list__description-art Артикул: Hai06
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
            .products-list__item
                .products-list__top
                    a(href='').products-list__img-link
                        img.products-list__img(src="../images/develop/pic-1.jpg")
                .products-list__middle
                    .products-list__info
                        .products-list__name
                            a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                        .products-list__description
                            span.products-list__description-art Артикул: Hai06
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
            .products-list__item
                .products-list__top
                    a(href='').products-list__img-link
                        img.products-list__img(src="../images/develop/pic-1.jpg")
                .products-list__middle
                    .products-list__info
                        .products-list__name
                            a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                        .products-list__description
                            span.products-list__description-art Артикул: Hai06
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.

        include _pagination


