extends layouts/_base-layoute.jade

block PageTitle
    title About


block PageLayout
    section.base-content.inner-width.fw
        section.header
            include blocks/_header-top
            include blocks/_header-menu
            include blocks/_basket-small
        section.main-content.fw
            section.sidebar-bar
                include blocks/_main-search
                include includes/_left-menu.jade
                include blocks/_left-banner
                include blocks/_left-news-mobile-hide
                include blocks/_left-reviews-mobile-hide


            section.main-content-inner.fw
                .about-page__wrap
                    .page-header
                    section.page-header-main
                        .page-header-main__side
                            h1.page-header-main__title О нас

                    section.block-video
                        .block-video__text
                            p Компания «Караван» образована в 2001 году. Основной вид деятельности компании – реализация крупным, средним и мелким оптом широкого спектра подарочной и сувенирной продукции импортного производства.
                            p Многолетний опыт работы в этой области позволяет постоянно поддерживать актуальный ассортимент продукции в зависимости от меняющейся конъюнктуры рынка и интересов покупателей, предлагать абсолютно новые материалы и продукцию в соответствии с последними дизайнерскими разработками в области подарков и сувениров.
                        .block-video__video
                            img(src="../images/develop/video-zagl.png")

                    .separate-pattern
                    include ./blocks/_our-advantages

                    .separate-pattern

                    section.register-offer
                        .register-offer__text Предлагаем посетить наш выставочный зал или зарегистрироваться на нашем сайте.<br>
                            |Вы найдете для себя много новой, интересной продукции, которая без сомнения заинтересует Вас и Ваших клиентов.
                        .register-offer__btn-block
                            a.register-offer__btn.btn.is-brown(href='#') Зарегистрироваться
                            a.register-offer__btn.btn.is-orange(href='#') Перейти в каталог

                    .separate-pattern
                    include ./blocks/_our-stores
                    .separate-pattern

                    .page-btn-block
                        a.page-btn-block__btn.btn.is-orange(href="#") Перейти в каталог

                    section.block-gallery
                        .block-gallery__header
                            .block-gallery__header-left Мы являемся  участниками Международных специализированных выставок таких как «Подарки», "Бижутерия и аксессуары".
                            .block-gallery__header-right
                                .block-gallery__logo-block
                                    .block-gallery__logo-cont
                                        img.block-gallery__logo-img(src="../images/develop/logo-1.png")
                                    .block-gallery__logo-cont
                                        img.block-gallery__logo-img(src="../images/develop/logo-2.png")

                        .block-gallery__content
                            .block-gallery__title Участие в выставках
                            .block-gallery__seo-text Предлагаем посетить наш выставочный зал или зарегистрироваться на нашем сайте.<br>
                                    |Вы найдете для себя много новой, интересной продукции, которая без сомнения заинтересует Вас и Ваших клиентов.
                            .block-gallery__slider.page-slider
                                .block-gallery__list.page-slider__list.js-page-slider-1
                                    .block-gallery__item.page-slider__item
                                        img.block-gallery__slider-image(src='../images/develop/slide-2.png')
                                    .block-gallery__item.page-slider__item
                                        img.block-gallery__slider-image(src='../images/develop/slide-2.png')
                                    .block-gallery__item.page-slider__item
                                        img.block-gallery__slider-image(src='../images/develop/slide-3.png')
                                    .block-gallery__item.page-slider__item
                                        img.block-gallery__slider-image(src='../images/develop/slide-1.png')
                                    .block-gallery__item.page-slider__item
                                        img.block-gallery__slider-image(src='../images/develop/slide-2.png')


        section.footer.fl
            include includes/_footer








