extends layouts/_base-layoute.jade

block PageTitle
	title Actions


block PageLayout
	section.base-content.inner-width.fw
		section.header
			include blocks/_header-top
			include blocks/_header-menu
			include blocks/_basket-small
		section.main-content.fw
			section.sidebar-bar
				include blocks/_main-search
				include includes/_left-menu.jade
				include blocks/_left-banner
				include blocks/_left-news-mobile-hide
				include blocks/_left-reviews-mobile-hide


			section.main-content-inner.fw
				.actions-page__wrap.is-all
					include blocks/_page-header
					section.page-header-main
						.page-header-main__side
							h1.page-header-main__title Акции
							.page-header-main__info Уважаемый посетитель, представляем вашему вниманию акции, проводимые нашей компанией

					section.actions
						.actions__list
							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-orange
											span Акция действует
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения


							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-orange
											span Акция действует
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-orange
											span Акция действует
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения





							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-orange
											span Акция действует
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения





								.page-btn-block.is-show-more
									a.page-btn-block__btn.btn.is-orange(href="#") Посмотреть все товары акции
							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-grey
											span Акция завершена
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения





							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-grey
											span Акция завершена
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения





							.actions__item
								.actions__item-header
									a.actions__name(href='') Скидка 20% на подарки для женщин!
									.actions__data.main-date.icon-calendar
										span 10.11.2017-20.12.2017
									.page-header-main__label-block.label-block
										.label-block__label.is-grey
											span Акция завершена
								.actions__description
									.actions__description-side
										.actions__main-text
											p В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты В этом выпуске хотим обратить Ваше внимание на предметы мебели: табуреты  этом выпуске хотим обратить Ваше внимание на предметы мебели: табуретыВ этом выпуске хотим обратить В аше внимание на предметы мебели: табуреты
									.actions__description-side
										.actions-timer__count
											.actions-timer__count-item.is-days
												.actions-timer__numbers 1
												.actions-timer__numbers 0
												.actions-timer__numbers-name дней
											.actions-timer__count-item.is-hours
												.actions-timer__numbers 0
												.actions-timer__numbers 8
												.actions-timer__numbers-name часов
											.actions-timer__count-item.is-minutes
												.actions-timer__numbers 1
												.actions-timer__numbers 5
												.actions-timer__numbers-name минут
											.actions-timer__count-item.is-seconds
												.actions-timer__numbers 2
												.actions-timer__numbers 7
												.actions-timer__numbers-name секунд
								.actions__item-content
									strong Предлагаем Вам ознакомиться с товарами, на которые действует акция:
									.actions__plate-list
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_10.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_1.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_2.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_3.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_4.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_5.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_6.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_7.png')
											a.actions__plate-link(href='') Бижутерияи украшения
										.actions__plate-item
											.actions__plate-image-wrapp
												img.actions__plate-img(src='../images/sect-pic/1_8.png')
											a.actions__plate-link(href='') Бижутерияи украшения





					include blocks/_pagination-arrows-hide

					.connection-block
						.connection-block__side
							.connection-block__staff-photos
								.connection-block__staff-photos-item
									img(src='../images/develop/staff-1.png')
								.connection-block__staff-photos-item
									img(src='../images/develop/staff-2.png')
						.connection-block__side
							.connection-block__text По всем вопросам звоните:
							.connection-block__phone.icon-phone 8 (800) 700-52-10
		section.footer.fl
			include includes/_footer











