extends layouts/_base-layoute.jade

block PageTitle
	title Cart-3


block PageLayout
	section.base-content.inner-width.fw
		section.header
			include blocks/_header-top
			include blocks/_header-menu
			include blocks/_basket-small
		section.main-content.fw
			section.sidebar-bar
				a.sidebar-bar__other-page-link(href='') Перейти в&nbsp;каталог
				include blocks/_main-search

			section.main-content-inner.fw
				.basket-page__wrap
					include blocks/_page-header-cart-3

					.basket-page
						.order-confirm
							h1.order-confirm__title Ваш заказ оформлен!
							.order-confirm__info
								|Ваш заказ #[strong №3740] от 13.04.2017 09:36:12 успешно создан и обрабатывается.<br>
								|Информация о заказе отправлена на указанный вами е-мэйл. В ближайшее время с Вами свяжется наш менеджер.
							.order-confirm__firm-contacts
								.order-confirm__contacts.icon-phone
									strong 8 (800) 700-52-10
								.order-confirm__contacts.icon-email
									a(href="mailto:order@karavanmarket.ru") order@karavanmarket.ru 
								.order-confirm__contacts.icon2-skype Москва: karavanmoscow
								.order-confirm__contacts.icon2-skype Сочи: karavanmarket

							.order-confirm__info
								| Вы можете следить за выполнением своего заказа на #[a Вашей странице]. <br>
								| Рекомендуем Вам прямо сейчас поменять пароль в #[a персональном разделе сайта].

							.order-confirm__number
								a(href="") Заказ №3740:


						.basket-items.is-table
							.basket-items__title Состав заказа
							table.basket-items__table
								tr
									th(colspan='2') Название
									th Артикул
									th #[strong Количество] #[span Кол-во]
									th Цена
								tr
									td.basket-items__table-img
										.basket-items__image
											img.basket-items__img(src='../images/develop/pic-1.jpg')
									td.basket-items__table-name
										a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
									td.basket-items__table-art
										span.basket-items__description-art Hai06

									td.basket-items__table-quant
										span 1
									td.basket-items__table-price
										span 978 руб
								tr
									td.basket-items__table-img
										.basket-items__image
											img.basket-items__img(src='../images/develop/pic-1.jpg')
									td.basket-items__table-name
										a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
									td.basket-items__table-art
										span.basket-items__description-art Hai06

									td.basket-items__table-quant
										span 1
									td.basket-items__table-price
										span 978 руб
								tr
									td.basket-items__table-img
										.basket-items__image
											img.basket-items__img(src='../images/develop/pic-1.jpg')
									td.basket-items__table-name
										a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
									td.basket-items__table-art
										span.basket-items__description-art Hai06

									td.basket-items__table-quant
										span 1
									td.basket-items__table-price
										span 978 руб

							.basket-items__table-total-wrap
								table.basket-items__table-total
									tr
									tr

										td
											span Общий вес:
										td
											span 0г
									tr

										td
											span Товаров на
										td
											span 15 600 руб
									tr

										td
											strong Итого
										td
											strong 15 600 руб
									tr
								table.basket-items__table-total
									tr
									tr

										td
											span Способ доставки:
										td
											span доставка до Москва
									tr

										td
											span Оплата:
										td
											span Наличными


		section.footer.fl
			.footer__add-elements
				.footer__notice
					.footer__notice-title Уважаемый покупатель!
					p Оптовые цены действуют при покупке на сумму от 15000 рублей.
						|При сумме заказа по оптовым ценам менее 15000 рублей, итоговаястоимость заказа увеличивается на 50%
						|(розничное удорожание).
					p Наша цена - самая выгодная для вас!

			include includes/_footer











