extends layouts/_base-layoute.jade

block PageTitle
	title Cart-2


block PageLayout
	section.base-content.inner-width.fw
		section.header
			include blocks/_header-top
			include blocks/_header-menu
			include blocks/_basket-small
		section.main-content.fw
			section.sidebar-bar
				a.sidebar-bar__other-page-link(href='') Перейти в&nbsp;каталог
				include blocks/_main-search
					.sidebar-bar__delivery-info.btn.is-transparent-blue.js-delivery-info #[span Оплата и доставка]
				include includes/_left-pay-info.jade

			section.main-content-inner.fw
				.basket-page__wrap
					include blocks/_page-header-cart-2

					.basket-page
						.basket-tabs__tabs.main-tabs
							.basket-tabs__tabs-items.main-tabs__items
								.basket-tabs__tabs-item.main-tabs__item.is-default-active.js-main-tabs
									a.basket-tabs__tabs-item-link(href='#registr-order') Оформление <br>заказа
								.basket-tabs__tabs-item.main-tabs__item.js-main-tabs
									a.basket-tabs__tabs-item-link(href='#form-clients') Для клиентов <br>КараванМаркет.ру:
							.basket-tabs__content.main-tabs__content
								.basket-tabs__content-tabs.main-tabs__content-item.is-default-active.js-content-tabs(id='registr-order')

									.basket-page__big-form
										form.basket-big-form__form.js-form
											.basket-big-form__fields
												.basket-big-form__field
													span.basket-big-form__name Имя *
													.basket-big-form__label-absolute
														label.basket-big-form__label.icon-man
														input.basket-big-form__input(type='text' value='')
												.basket-big-form__field
													span.basket-big-form__name Фамилия *
													.basket-big-form__label-absolute
														label.basket-big-form__label.icon-man
														input.basket-big-form__input(type='text' value='')
												.basket-big-form__field
													span.basket-big-form__name Телефон *
													.basket-big-form__label-absolute
														label.basket-big-form__label.icon-phone +7 (926) 123-45-67
														input.basket-big-form__input(type='text' value='')
												.basket-big-form__field
													span.basket-big-form__name E-мэйл *
													.basket-big-form__label-absolute
														label.basket-big-form__label.icon-email Ваш е-mail
														input.basket-big-form__input(type='text' value='')
												.basket-big-form__relative-block
													.basket-big-form__field
														span.basket-big-form__name Место *
														.basket-big-form__label-absolute
															label.basket-big-form__label Москва
															input.basket-big-form__input(type='text' value='')
													.basket-big-form__field.is-address
														span.basket-big-form__name Адрес доставки
														.basket-big-form__label-absolute
															label.basket-big-form__label
															input.basket-big-form__input(type='text' value='')
												.basket-big-form__field
													span.basket-big-form__name Доставка
													select.basket-big-form__input.is-select-dropdown.cd-select
														option(value='-1', selected) Выберите способ доставки
														option(value='1', selected) Доставка до адреса
														option(value='2', selected) Доставка до трансп. комп&
														option(value='3', selected) Самовывоз

												.basket-big-form__field
													span.basket-big-form__name Оплата
													select.basket-big-form__input.is-select-dropdown.cd-select
														option(value='-1', selected) Выберите способ оплаты
														option(value='1', selected) Наличными
														option(value='2', selected) Безналичная оплата
														option(value='3', selected) Денежные переводы
												.basket-big-form__field
													span.basket-big-form__name Комментарий к заказу
													.basket-big-form__label-absolute
														label.basket-big-form__label
														input.basket-big-form__input(type='text' value='')
										.basket-page__control-section.is-buttons.is-middle
											.basket-page__text-input
												input.main-checkbox(type="checkbox")
												label.main-checkbox-label Я даю свое согласие на обработку персональных данных.
											.basket-page__main-btn
												a.basket-page__btn.btn.is-green(href='') Оформить заказ

								.basket-tabs__content-tabs.main-tabs__content-item.js-content-tabs(id='form-clients')

									.basket-page__big-form
										form.basket-big-form__form.is-background.js-form
											.basket-big-form__title Для клиентов КараванМаркет.ру:
											.basket-big-form__fields
												.basket-big-form__field
													span.basket-big-form__name E-мэйл
													.basket-big-form__label-absolute
														label.basket-big-form__label.icon-email Ваш е-mail
														input.basket-big-form__input(type='text' value='')
												.basket-big-form__field
													span.basket-big-form__name Пароль
													.basket-big-form__label-absolute
														label.basket-big-form__label
														input.basket-big-form__input(type='text' value='')
														a.basket-big-form__notice(href='') Забыли пароль?
												button.basket-page__btn.btn.is-orange(type='submit' value='') Продолжить оформление заказа


						.basket-page__footer
							.basket-page__control-section.is-contacts
								.basket-page__contacts Заказ можно оформить и по телефону! <br>Звоните: #[span 8 (800) 700-52-10]
								.basket-page__small-form
									form.basket-small-form__form.js-form
										.basket-small-form__fields
											.basket-small-form__field
												span.basket-small-form__name Вам перезвонить?
												.basket-small-form__label-absolute
													label.basket-small-form__label.icon-phone +7 (926) 123-45-67
													input.basket-small-form__input(type='text' value='')
												button.basket-page__btn.btn.is-pink(type='submit' value='') Перезвонить мне
							.basket-page__control-section.is-send-mail
								.basket-small-form
									form.basket-small-form__form.js-form
										.basket-small-form__fields
											.basket-small-form__field
												span.basket-small-form__name Выслать мою корзину на e-mail
												.basket-small-form__label-absolute
													label.basket-small-form__label.icon-email Ваш e-mail
													input.basket-small-form__input(type='text' value='')
												button.basket-page__btn.btn.is-pink(type='submit' value='') Выслать

		section.footer.fl
			.footer__add-elements
				.footer__notice
					.footer__notice-title Уважаемый покупатель!
					p Оптовые цены действуют при покупке на сумму от 15000 рублей.
						|При сумме заказа по оптовым ценам менее 15000 рублей, итоговаястоимость заказа увеличивается на 50%
						|(розничное удорожание).
					p Наша цена - самая выгодная для вас!

			include includes/_footer











