extends layouts/_base-layoute.jade

block PageTitle
	title Cart-1


block PageLayout
	section.base-content.inner-width.fw
		section.header
			include blocks/_header-top
			include blocks/_header-menu
			include blocks/_basket-small
		section.main-content.fw
			section.sidebar-bar
				a.sidebar-bar__other-page-link(href='') Перейти в&nbsp;каталог
				include blocks/_main-search
					.sidebar-bar__delivery-info.btn.is-transparent-blue.js-delivery-info #[span Оплата и доставка]
				include includes/_left-pay-info.jade

			section.main-content-inner.fw
				.basket-page__wrap
					include blocks/_page-header-cart

					.basket-page
						.basket-items
							.basket-items__list
								.basket-items__item
									.basket-items__image
										img.basket-items__img(src='../images/develop/pic-1.jpg')
									.basket-items__main-content
										.basket-items__content
											.basket-items__name
												a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
											.basket-items__description
												span.basket-items__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
												span.basket-items__description-art Артикул: Hai06
												span.basket-items__description-country Индонезия
													img.basket-items__description-country-flag(src='../images/flags/fl-indonez.png')
										.basket-items__content
											textarea.basket-items__textarea(type='textarea' placeholder='Комментарий')
											.basket-items__price-info
												.basket-items__price
													.basket-items__price-cur 978 руб.
												.basket-items__controls-count.main-count
													.basket-items__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
													input.basket-items__controls-quantity-input
													.basket-items__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
												.basket-items__price
													.basket-items__price-all #[span 978] руб.
									.basket-items__btn-del.icon-close
								.basket-items__item
									.basket-items__image
										img.basket-items__img(src='../images/develop/pic-1.jpg')
									.basket-items__main-content
										.basket-items__content
											.basket-items__name
												a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
											.basket-items__description
												span.basket-items__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
												span.basket-items__description-art Артикул: Hai06
												span.basket-items__description-country Индонезия
													img.basket-items__description-country-flag(src='../images/flags/fl-indonez.png')
										.basket-items__content
											textarea.basket-items__textarea(type='textarea' placeholder='Комментарий')
											.basket-items__price-info
												.basket-items__price
													.basket-items__price-cur 978 руб.
												.basket-items__controls-count.main-count
													.basket-items__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
													input.basket-items__controls-quantity-input
													.basket-items__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
												.basket-items__price
													.basket-items__price-all #[span 978] руб.
									.basket-items__btn-del.icon-close
								.basket-items__item
									.basket-items__image
										img.basket-items__img(src='../images/develop/pic-1.jpg')
									.basket-items__main-content
										.basket-items__content
											.basket-items__name
												a.basket-items__name-link(href='') Скульптура резная Слон в попоне 2Hai13
											.basket-items__description
												span.basket-items__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
												span.basket-items__description-art Артикул: Hai06
												span.basket-items__description-country Индонезия
													img.basket-items__description-country-flag(src='../images/flags/fl-indonez.png')
										.basket-items__content
											textarea.basket-items__textarea(type='textarea' placeholder='Комментарий')
											.basket-items__price-info
												.basket-items__price
													.basket-items__price-cur 978 руб.
												.basket-items__controls-count.main-count
													.basket-items__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
													input.basket-items__controls-quantity-input
													.basket-items__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
												.basket-items__price
													.basket-items__price-all #[span 978] руб.
									.basket-items__btn-del.icon-close

						.basket-page__footer
							.basket-total
								.basket-total__row
									.basket-total__name Сумма заказа по оптовым ценам:
									.basket-total__value 10 476 руб.
								.basket-total__row
									.basket-total__name Розничное удорожание:
									.basket-total__value.is-persent 50%
								.basket-total__row
									.basket-total__name Итоговая стоимость заказа:
									.basket-total__value 22 476 руб.


							.basket-page__control-section.is-buttons
								.basket-page__main-btn
									a.basket-page__btn.btn.is-pink(href='') Пересчитать
									a.basket-page__btn.btn.is-green(href='') Оформить заказ
							.basket-page__control-section.is-contacts
								.basket-page__contacts Заказ можно оформить и по телефону! <br>Звоните: #[span 8 (800) 700-52-10]
								.basket-page__small-form
									form.basket-small-form__form.js-form
										.basket-small-form__fields
											.basket-small-form__field
												span.basket-small-form__name Вам перезвонить?
												.basket-small-form__label-absolute
													label.basket-small-form__label.icon-phone +7 (926) 123-45-67
													input.basket-small-form__input(type='text' value='')
												button.basket-page__btn.btn.is-pink(type='submit' value='') Перезвонить мне
							.basket-page__control-section.is-send-mail
								.basket-small-form
									form.basket-small-form__form.js-form
										.basket-small-form__fields
											.basket-small-form__field
												span.basket-small-form__name Выслать мою корзину на e-mail
												.basket-small-form__label-absolute
													label.basket-small-form__label.icon-email Ваш e-mail
													input.basket-small-form__input(type='text' value='')
												button.basket-page__btn.btn.is-pink(type='submit' value='') Выслать

		section.footer.fl
			.footer__add-elements
				.footer__notice
					.footer__notice-title Уважаемый покупатель!
					p Оптовые цены действуют при покупке на сумму от 15000 рублей.
						|При сумме заказа по оптовым ценам менее 15000 рублей, итоговаястоимость заказа увеличивается на 50%
						|(розничное удорожание).
					p Наша цена - самая выгодная для вас!

			include includes/_footer











