extends layouts/_base-layoute.jade

block PageTitle
	title Catalog-3


block PageLayout
	section.base-content.inner-width.fw
		section.header
			include blocks/_header-top
			include blocks/_header-menu
			include blocks/_basket-small
		section.main-content.fw
			section.sidebar-bar
				include blocks/_main-search
				include includes/_left-menu.jade
				include blocks/_left-banner
				include blocks/_left-news
				include blocks/_left-reviews


			section.main-content-inner.fw
				include blocks/_page-header
				section.page-header-main
					.page-header-main__side
						h1.page-header-main__title Статуэтки и фигурки животных оптом
						.page-header-main__info Индия для всех представляется яркой и сказочной страной, где всегда светит солнце, а девушки ходят в ярких сари, привлекающих внимание. Чтобы стать обладателем сувенира из Индии, теперь не нужно ехать в эту страну.
					.page-header-main__side
						.page-header-main__label-block.label-block
							.label-block__label.is-orange
								span Раздел участвует в акции!
							.label-block__label.is-orange
								span -20%
				section.catalog-sections-wrap
					include blocks/_plate-block-catalog
				include blocks/_catalog-filter
				include blocks/_catalog-controls
				.catalog-products-wrap.fw
					include includes/_products-list-3
				include blocks/_pagination
				section.seo-text.fw
					.seo-text__content
						h5.seo-text__title Сувениры и подарки из Индии оптом
						p Индия для всех представляется яркой и сказочной страной, где всегда светит солнце, а девушки ходят в ярких сари, привлекающих внимание. Чтобы стать обладателем сувенира из Индии, теперь не нужно ехать в эту страну. Достаточно лишь заказать их в нашем интернет-магазине.
						|Вам нравятся яркие ткани, расшитые многочисленными стразами или бисером? Давно мечтаете приобрести сари? Тогда мы будем рады вам в этом помочь!
						|Помимо сари, вы можете приобрести самые разнообразные украшения, которые поражают своей уникальностью и яркостью цветов. Девушки и женщины всего мира не смогут устоять перед ожерельями и браслетами из меди, инкрустированными цветными каменьями.
						|Для мужчин лучшим сувениром из Индии станет кинжал, рукоять которого декорирована потрясающей резьбой ручной работы, а острие ножа имеет невероятную форму и гравировку.
						|Что уж говорить об индийских специях, которые способны придать любому блюду изысканный аромат и вкус. Вы сможете перенестись на мгновение в страну солнца и веселья. У нас вы так же можете приобрести знаменитый индийский чай, который упаковывается в цветные мешочки, чтобы сохранить его насыщенность и аромат.
						|Деревянные статуэтки слонов привнесут в интерьер вашей комнаты некую изюминку и станут символом доброты, спокойствия и благополучия.
					.seo-text__pic
						img(src='../images/seo-main.png')


				include blocks/_viewed-products
		section.footer.fl
			include includes/_footer











