.basket-big-form {
  &__title{
    font-family: $fopb;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    text-align: center;
  }

  &__form {
    &.is-background {
      width: 79.5%;
      min-width: 39.5rem;
      height: 296px;
      background-color: #fdf9ec;
      padding-top: 1.9rem;
      position: relative;
      top: -62px;
      left: 63px;
      z-index: 1;

      .basket-page__btn.is-orange {
        width: 37rem;
        margin:auto;
      }
      .basket-big-form__name {
        width: 9.3rem;
      }
      .basket-big-form__field {
        justify-content: flex-start;

        &:nth-child(2){
          .basket-big-form__name{
            position: relative;
            top:-1.4rem;
          }
        }
      }
      .basket-big-form__fields {
        width: 37rem;
        margin: auto;
      }
      .basket-big-form__title{
        width: 37rem;
        margin: auto;
        margin-bottom: 2.8rem;
      }
    }

    & + .basket-page__control-section.is-buttons.is-middle {
      width: 200%;
    }

    .cd-dropdown{
      margin: 0;
    }
    .cd-dropdown > span{
      height: 4.4rem;
      line-height: 4.4rem;
      box-shadow: none;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #999999;
      font-family: $fopRegular;
      font-size: 1.4rem;
      color: #000000;
      padding: 0;
      padding-left: 1rem;
      font-weight:300;
    }

    .cd-dropdown ul li{
      border:none;
      box-shadow: none;
      height: 4.4rem;

      span{
        height: 4.4rem;
        line-height: 4.4rem;
        font-family: $fopRegular;
        font-size: 1.4rem;
        color: #000000;
        font-weight:300;
        padding: 0;
        padding-left: 1rem;
      }
    }

    .cd-dropdown, .cd-select{
      width: 27.8rem;
    }
    .cd-dropdown > span:after{
      @extend .icon-template;
      content: '\e124';
      height: 13px;
      width: 15px;
      border-radius: 2px;
      background-color: #c4c4c4;
      padding:0;
      color: #ffffff;
      text-align: center;
      line-height: 13px;
      top: 50%;
      margin-top: -6px;
      right: 6px;
      font-size:6px;
      border: none;
    }
    .cd-active.cd-dropdown ul li span:hover {
      background: #f4f0e9;
      color: #000000;
    }
    .cd-dropdown.cd-active ul {
      outline-color: #999999;
    }
    .cd-dropdown.cd-active{
     // z-index: 1010;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    margin-bottom: 1.9rem;

    &.is-address{
      position: absolute;
      left: calc(100% + 66px);
      top: 0;

      .basket-big-form__name{
        width:auto;
      }
    }
  }
  &__input {
    width: 27.8rem;
    height: 4.4rem;
    line-height: 4.4rem;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #999999;
    padding-left: 1.7rem;
    font-size: 1.8rem;
  }

  &__label {
    font-size: 18.7px;
    color: #999999;
    position: absolute;
    top: 0;
    height: 4.4rem;
    line-height: 4.4rem;
    padding-left: 1.7rem;

    &:before {
      font-size: 1.6rem;
      margin-right: 1.2rem;
      display: inline-block;
    }
    &.icon-email:before {
      font-size: 1.3rem;
    }
  }
  &__name {
    white-space: nowrap;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    width: 19rem;
  }
  &__label-absolute {
    position: relative;
  }

  &__notice {
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
    margin-top: 1rem;
    display: block;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
  
  &__relative-block{
    position: relative;
  }

}

@media screen and (max-width: 1800px){
  .basket-big-form__form.is-background{
    left: 3rem;

    .basket-big-form__input{
      width: 26.4rem;
    }
    .basket-big-form__fields{
      width: 35.2rem;
    }
    .basket-page__btn.is-orange{
      width: 35.6rem;
    }
  }
  .basket-big-form__field.is-address {
    left: calc(100% + 3rem);
  }
  .basket-big-form__field.is-address .basket-big-form__input {
    width: 24.4rem;
  }
  .basket-big-form__name{
    margin-right: 4px;
  }
}

@media screen and (max-width: 1198px){
  .basket-big-form{
    &__form{
      & + .basket-page__control-section.is-buttons.is-middle {
        width: 100%;
      }
    }
    &__form.is-background{
      position: static;
      width: 100%;
      padding-top: 4.9rem;
      .basket-big-form__title{
        display: none;
      }
    }
    &__field.is-address{
      position: static;
      .basket-big-form__name {
        width: 19rem;
        margin-right: 4px;
      }
      .basket-big-form__input{
        width: 27.8rem;
      }
    }
  }
}

