.basket-items {
  padding-right: 1.3rem;
  &__item {
    height: 14.6rem;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
  }
  &__image{
    width: 15rem;
    position: absolute;
    top: 0;
  }
  &__main-content{
    padding-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__name{
    margin-bottom: 1rem;
    margin-top:7px;
  }
  &__name-link{
    font-family:$FontBase;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
  }
  &__description{
    font-size: 14px;
    line-height: 1.29;
    color: #000000;
  }
  &__description-country{
    margin-left: 1rem;
    white-space: nowrap;
  }
  &__description-country-flag{
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 5px;
  }
  &__textarea{
    width: 16.3rem;
    height: 6.8rem;
    background-color: #ffffff;
    border: solid 1px #999999;
    resize: vertical;
    max-height: 14.5rem;
    padding-top: 1.4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    color: #000;
    margin-right: 3.3rem;
  }
  ::-webkit-input-placeholder { font-size: 1.4rem;
    color: #000;}
  ::-moz-placeholder          { font-size: 1.4rem;
    color: #000;}/* Firefox 19+ */
  :-moz-placeholder           { font-size: 1.4rem;
    color: #000;}/* Firefox 18- */
  :-ms-input-placeholder      { font-size: 1.4rem;
    color: #000;}

  &__content{
    padding-right: 3rem;
    &:nth-child(1){
      min-width: 26.8rem;
    }
    &:nth-child(2){
      display: flex;
      align-items: center;
      padding-right: 7.5rem;
    }
    br{
      display: none;
    }
  }
  &__price{
    white-space: nowrap;
  }
  &__price-cur{
    font-family: $FontBase;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000000;
    &:after{
      content: 'X';
      margin: 0 1.4rem;
    }
  }
  &__price-all{
    font-family: $FontBase;
    font-size: 18px;
    font-weight: 600;
    color: #64ac39;
  }
  &__controls-quantity{
    position: absolute;
    bottom: 100%;
    right: 0;
    display: flex;
    justify-content:flex-end;
    span{
      display: block;
      font-weight: 600;
    }
  }
  &__controls-quantity-input{
    width: 5.4rem;
    height: 3.3rem;
    line-height: 3.3rem;
    background-color: #ffffff;
    border: solid 1px #999999;
    padding-left: 1.3rem;
    font-size: 1.4rem;
    color: #666666;
  }
  &__controls-quantity-text{
    margin-right: 1.5rem;
    span{
      white-space: nowrap;
    }
  }
  &__controls-count{
    max-height:3rem;
    margin-right: 1.7rem;
  }
  &__controls-count-btn{
    height: 1.3rem;
    right: 3px;

    &.is-up{
      top: 3px;
    }
    &.is-down{
      bottom: 0;
    }
  }
  &__btn-del{
    width: 23.8px;
    height: 23.8px;
    line-height: 21px;
    background-color: #ffffff;
    border: solid 1px #999999;
    color: #999999;
    display: block;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    right:1rem;
    top:50%;
    margin-top: -12px;
    cursor: pointer;
    &:before{
      font-size: 9px;
    }
  }
  &__price-info{
    flex-grow: 2;
    display: flex;
    align-items: center;
  }
  strong{
    font-family:$FontBase;
    font-weight: 600;
  }
}

@media #{$media-1728} {
  .basket-items{
    &__textarea{
      margin-right: 2rem;
    }
    &__price-cur:after {
      margin-right: 8px;
    }
    &__controls-count{
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 1198px){
  .basket-items__btn-del{
    margin-top: 0;
    top: 2.2rem;
    right: 0;
  }
}

@media #{$media-1166} {
  .basket-items{
    padding-right:0;
  }
  .basket-items__item{
    height: 15.9rem;
  }
  .basket-items__description-short{
    display: block;
  }
  .basket-items__main-content{
    flex-wrap: wrap;
    height:auto;
  }
  .basket-items__textarea{
    height: 3.4rem;
    line-height: 3.4rem;
    padding-top: 0;
    width: 24rem;
  }
  .basket-items__description{
    margin-bottom: 1.7rem;
  }
  .basket-items__name{
    margin-top: 2.7rem;
    margin-bottom: 4px;
  }
  .basket-items__content:nth-child(2){
    padding-right: 0;
    width: 100%;
  }
  .basket-items__price-info{
    justify-content:flex-end;
  }
}

@media #{$media-768} {
  .basket-items__controls-count-btn{
    display: none;
  }
}

@media #{$media-740} {
  .basket-items__item{
    height: 20rem;
  }
  .basket-items__name{
    margin-top: 1.8rem;
  }
  .basket-items__content:nth-child(2){
    flex-wrap: wrap;
  }
  .basket-items__price-info{
    width: 100%;
    margin-top: 1rem;
  }
}

@media #{$media-686} {
  .basket-items__image{
    width: 5.8rem;
  }
  .basket-items__name-link{
    padding-right: 2.8rem;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  .basket-items__main-content{
    padding-left: 7.1rem;
  }
}

//.basket-items.is-table
.basket-items.is-table{
  margin-top: 5.6rem;
  .basket-items{
    &__image{
      position: static;
      width: 6.7rem;
    }
    &__title{
      font-family: $FontBase;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 0.75;
      color: #000000;
      margin-bottom: 1.6rem;
    }
    &__name-link{
      font-size: 1.4rem;
      font-weight:normal;
      font-family:$FontBase;
      white-space: normal;
    }
    &__table-img{
      width: 8.7rem;
    }
    &__table-name{
      width: 45%;
      white-space: normal;
      padding-right: 1.5rem;
      min-width: 19rem;
    }
    &__table-art{
      width: 15%;
    }
    &__table-quant{
      width: 18%;
    }
    &__table-total-wrap{
      width: 37rem;
      float: right;
    }
    &__table-price{
      width: 172px;
      min-width:172px;
    }
    &__table-total{
      font-size: 1.4rem;
      line-height: 1.71;
      color: #000000;
      border-collapse: separate;
      padding: 1.7rem 2rem;
      &:not(:last-child){
        border-bottom: 1px solid #d2d2d2;
      }
      tr{
        &:not(.is-border-bottom){
          border-bottom: none!important;
        }
        td:nth-child(2){
          width: 152px;
          min-width: 152px;
        }
      }
    }
  }
  table{
    width: 100%;
  }
  th{
    font-family: $FontBase;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    height: 4rem;
    
    span{
      display: none;
    }
  }
  tr{
    white-space: nowrap;
    &:not(.is-no-border){
      border-bottom:1px solid #d2d2d2;
    }
  }


}

@media #{$media-960} {
  .basket-items.is-table .basket-items__table-img {
    width: 8rem;
  }
  .basket-items.is-table .basket-items__table-name {
    width: 29%;
  }
  .basket-items.is-table .basket-items__table-art {
    width: 16.6%;
  }
  .basket-items.is-table .basket-items__table-quant {
    width: 33%;
  }
}

@media #{$media-686} {
  .basket-items.is-table th {
    span{
      display: block;
    }
    strong{
      display: none;
    }
  }
  .basket-items.is-table .basket-items__table-quant {
    width: 14%;
  }
  .basket-items.is-table .basket-items__table-total-wrap{
    width: 30rem;
  }
  .basket-items.is-table .basket-items__table-total{
    padding-right:0;
  }
  .basket-items.is-table .basket-items__table-total tr td:nth-child(2) {
    width: 10px;
    min-width: 100px;
  }
  .basket-items.is-table .basket-items__table-price {
    width: 100px;
    min-width: 100px;
  }
}