.block-video {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  &__text {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #272727;
    width: 47.6%;
    padding-right: 6rem;

    p:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
  &__video{
    width: 53%;
    height: 347px;
    img{
      max-height: 100%;
      min-height: 100%;
      min-width: 100%;
    }
  }
}

@media #{$media-1496} {
  .block-video__text{
    padding-right: 3.1rem;
  }
  .block-video__video{
    width:72%;
  }
  .block-video__text{
    font-size: 1.4rem;
  }
}
@media #{$media-1023} {
  .block-video{
    flex-wrap: wrap;
  }
  .block-video__video{
    width:100%;
    margin: 0 8rem;
  }
  .block-video__text{
    width: 100%;
    margin-bottom: 1.8rem;
    column-count: 2;
    padding-right: 0;
  }
  .block-video__text p:not(:last-child) {
    margin-bottom: 4.6rem;
  }
}

@media #{$media-686} {
  .block-video{
    margin-bottom: 3rem;
  }
  .block-video__text{
    column-count: 1;
  }
  .block-video__text p:not(:last-child) {
    margin-bottom: 1.8rem;
  }
  .block-video__video{
    margin: 0;
  }
}