.block-gallery {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #272727;
  margin-bottom: 6rem;
  &__header {
    display: flex;
    height: 10rem;
  }
  &__header-left{
    width: 57%;
    min-width: 33.6rem;
  }
  &__header-right{
    flex-grow: 2;
  }
  &__seo-text{
    margin-bottom: 12.7rem;
  }
  &__title {
    font-size: 2.4rem;
    line-height: 0.75;
    color: #2a2024;
    margin-bottom: 3rem;
  }
&__logo-block{
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img{
    max-height: 80%;
    margin: auto;
  }
}
  &__item{
    height: 28.3rem;
    overflow: hidden;
    margin-right: 15px;
  }
  &__slider-image{
    max-width: 150%;
    min-height: 100%;
  }
}
@media #{$media-960} {
  .block-gallery__seo-text{
    margin-bottom: 9.3rem;
  }
  .block-gallery__item{
    height: 18.4rem;
  }
}