.connection-block{
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 1.7rem 1rem;
  padding-left: 6px;
  background-color: #ffffff;
  border: solid 1px #999999;
  max-width: 103.1rem;
  &__side{
    &:nth-child(1){
      flex-basis: 41%;
      max-width: 32rem;
      margin-right: 1.3rem;
    }
  }

  &__phone{
    font-family:$fopsb;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.0;
    color: #2a2024;
    margin: 1.2rem 0;
    white-space: nowrap;
    &:before{
      margin-right: 1.8rem;
    }
  }
  &__text{
    line-height: 1.5;
    color: #2a2024;
  }
  &__staff-photos{
   display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
  &__staff-photos-item{
    max-width: 11rem;
    min-width: 8rem;
    border-radius: 50%;
    overflow: hidden;

    &:nth-child(1){
      margin-right: 1.7rem;
    }
  }

  &__mail{
    white-space: nowrap;
    line-height: 1.71;
    &:before{
      font-size: 1.4rem;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}

@media #{$media-686}{
  .connection-block{
    flex-wrap: wrap;
    &__side{
      &:nth-child(1){
        flex-basis: 100%;
      }
    }
    &__staff-photos{
      justify-content:flex-start;
    }
  }
}