.delivery-page-block {
  font-size: 1.4rem;
  line-height: 1.29;
  color: #2a2024;
  &__title {
    font-size: 1.6rem;
    font-family: $fopsb;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__item {
    margin-bottom: 2.5rem;
  }
  &__context{
    strong {
      font-family: $fopsb;
      font-weight: bold;
    }
  }

  &__logo-block-img{
    width: 13.7rem;
    height: 7.2rem;
    line-height: 6.9rem;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 1.3rem;
    outline: 1px solid #cecece;
    text-align: center;


    img{
      vertical-align: middle;
    }

  }
}

@media #{$media-686} {
  .delivery-page-block__logo-block{
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}