.detail-product {
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #666666;
  font-weight: 500;
  margin-bottom: 5.4rem;

  &__side {
    &:nth-child(2) {
      width: 46.8%;
      float: left;
    }
    &:nth-child(3) {
      float: right;
      width: 50%;
    }
  }
  &__top{
    margin-bottom: 3.4rem;
  }
  &__footer{
    width: 100%;
    overflow: hidden;
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.3rem;
    float: right;
    width: 50%;
  }
  &__content{
    margin-bottom: 1.8rem;
  }
  &__title {
    font-size: 2.4rem;
    color: #ff7e09;
    margin-bottom: 1.9rem;
    line-height: 1.2;
  }

  &__big-photos-link {
    display: block;
    width: 100%;
  }
  &__label{
    padding: 0 1.8rem;
  }
  &__gallery {
    position: relative;
    padding-right: 7.2rem;
    .detail-product__label-block {
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 3;
    }
  }
  &__big-photos {
    width: 100%;
    border: solid 1px #fcf8f2;
  }
  &__big-photos-img {
    max-height: 100%;
  }
  &__preview-photos {
    width: 5.9rem;
    position: absolute;
    right: 2px;
    top: 1.6rem;

    &.is-no-arrows {
      top: 0;
    }
  }
  &__preview-photos-link {
    width: 5.8rem;
    height: 5.8rem;
    display: block;
    text-align: center;
    background-color: #ffffff;
    border: solid 2px #f4f0e9;
    transition: .3s;

    &:hover {
      border-color: #b79885;
    }
    img {
      max-height: 100%;
      margin: auto;
    }
  }
  &__available-stock {
    white-space: nowrap;
    &:last-child {
      font-family: $FontBase;
      font-weight: 600;
    }
    span{
      font-family: $FontBase;
      font-weight: 600;
    }
  }
  &__buy-info{
    width: 42%;
  }
  &__controls {
    position: relative;

  }
  &__controls-content{
    position: absolute;
    right: 0;
    left: calc(42% + 99px);
    bottom: -4.3rem;
  }
  &__controls-main{
    flex-grow: 2;
    display: flex;
    align-items: center;
  }
  &__controls-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:1rem;
    position: relative;
    span {
      display: block;
      font-weight: 600;
    }
  }
  &__controls-quantity-input {
    width: 8.9rem;
    height: 4.8rem;
    line-height: 4.8rem;
    background-color: #ffffff;
    border: solid 1px #999999;
    padding-left: 1.8rem;
    font-size: 2.4rem;
    color: #666666;
  }
  &__controls-quantity-text {
    margin-right: 1.5rem;
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    font-size: 1.4rem;
    span {
      white-space: nowrap;
    }
  }
  &__controls-count-btn {
    width: 2.4em;
    height: 1.8rem;
    line-height: 1.8rem;
    right: 5px;
    &:before{
      font-size:9px;
    }

    &.is-up {
      top: 5px;
    }
    &.is-down {
      bottom: 5px;
    }
  }
  &__description {
    font-size: 1.4rem;
    line-height: 1.29;
    color: #262626;
    width: 62%;
    p{
      &:not(:last-child){
        margin-bottom: 1.6rem;
      }
    }
  }
  &__description-short {
    display: block;
    margin-bottom: 2px;
  }
  &__description-art {
    display: block;
    margin-bottom: 2px;
  }
  &__description-country {
    display: block;
  }
  &__price {
    font-size: 2.4rem;
    color: #666666;
    line-height: 1.4;
  }
  &__price-old {
    text-decoration: line-through;
    white-space: nowrap;
  }
  &__price-cur {
    font-family: $FontBase;
    font-weight: bold;
    color: #008d1e;
    white-space: nowrap;
  }
  &__controls {
    display: flex;
    padding-top: 1.2rem;
  }

  &__controls-content-link {
    position: relative;
    padding-left: 1.8rem;
    display: block;
    color: #666666;
    text-decoration: none;
    line-height: 1;

    &:before {
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 1.1rem;
      color: #999999;
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
    &.icon-chart:before {
      font-size: 1rem
    }
    span {
      border-bottom: 1px solid #666666;
      transition: .3s;
    }
    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }
  &__btn {
    width: 18.5rem;
    height: 5rem;
    line-height: 5rem;
    border: none;
    font-size: 2.1rem;
  }
  .slick-prev, .slick-next {
    width: 58px;
    height: 13px;
    right: 0;
    left: auto;
    &:before {
      font-size: 1.2rem;
    }
  }
  .slick-next {
    top: calc(100% + 7px);
    &:before {
      transform: rotate(-90deg);
    }
  }
  .slick-prev {
    top: -7px;
    &:before {
      transform: rotate(90deg);
    }
  }
  &__description-country-flag{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 8px;
  }
}

@media #{$media-1728} {
  .detail-product {
    &__side {
      &:nth-child(2){
        width:40.8%
      }
      &:nth-child(3) {
        width: 56%;
        position: relative;
      }
    }
    &__header{
      width: 56%;
    }
    &__content{
      width: 50%;
    }
    &__controls {
      position: absolute;
      bottom: 7.4rem;
      right: 0;
      flex-wrap: wrap;
      width: 60%;
    }
    &__buy-info {
      width: 100%;
      text-align: right;
      margin-bottom: 2.6rem;
    }
    &__controls-main {
      justify-content: flex-end;
    }
    &__controls-content{
      width: 18.5rem;
      left:auto;
      right: 0;
      bottom:-5.2rem;
    }
  }
}

@media #{$media-1496}{
  .detail-product{
    &__side {
      &:nth-child(2) {
        width: 39.2%
      }
      &:nth-child(3) {
        width: 58%;
      }
    }
    &__header{
      width: 58%;
    }
  }
}
@media #{$media-1166}{
  .detail-product {
    &__side {
      &:nth-child(2){
        width:47.3%;
      }
      &:nth-child(3) {
        position: static;
        width: 49%;
      }
    }
    &__header{
      width: 49%;
    }
    &__top{
      position: relative;
      margin-bottom: 8rem;
    }
    &__controls{
      width: 100%;
      position: static;
    }
    &__price{
      display: flex;
    }
    &__price-old{
      margin-right: 2.7rem;
    }
    &__gallery{
      padding-right: 0;
      padding-bottom: 7.2rem;
    }
    &__preview-photos,
    &__preview-photos.is-no-arrows{
      width: auto;
      top: auto;
      bottom: 0;
    }
    &__controls-quantity-text{
      position: static;
    }
    &__controls-content{
      display: flex;
      width:100%;
      left: 0;
    }
    &__controls-content-link{
      margin-right: 2.6rem;
    }
    &__controls-main{
      justify-content: flex-start;
    }
    &__buy-info{
      margin-bottom: 1.4rem;
    }
    &__description{
      width: 100%;
    }
    &__preview-photos-link{
      margin-right: 8px;
    }
    &__preview-photos{
      right: auto;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px){
  .detail-product{
    &__side:nth-child(2) {
      width: 42.3%;
    }
    &__side:nth-child(3) {
      width: 54%;
    }
    &__header{
      width: 54%;
    }
  }
}

@media #{$media-740} {
  .detail-product {
    &__gallery {
      padding-right: 7.2rem;
      padding-bottom:1.3rem;
    }
    &__header{
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__top{
      margin-bottom: 6rem;
    }
    &__side {
      &:nth-child(2){
        width: 100%;
      }
      &:nth-child(3){
        width: 100%;
        position: relative;
      }
    }
    &__title{
      max-width: 28.5rem;
    }
    &__preview-photos {
      right: 2px;
      top: 1.6rem;
      width: 5.8rem;

      &.is-no-arrows {
        top: 0;
        width: 5.8rem;
      }
    }
    &__controls{
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      padding-left: 50%;
      top: 0;
      padding-top: 0;
      z-index: 1;

    }
    &__content{
      position: relative;
      z-index:2;
    }
    &__price{
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__price-old,
    &__price-cur{
      margin:0;
      width: 100%;
    }
  &__controls-main{
    flex-wrap: wrap;
    justify-content: flex-end;
  }
    &__controls-quantity{
      margin-right: 0;
      margin-bottom: 2.6rem;
    }
    &__controls-content{
      width: 100%;
      bottom: -2.8rem;
      left: 0;
      flex-wrap: wrap;
    }
    &__controls-content-link{
      width: 100%;
    }
  }

}