.main-slider-page{
  margin-top: 4.7rem;
  &__title{
    font-size: 2.4rem;
    color: #2a2024;
    margin-bottom: 7.4rem;
  }
  &__content{
    position: relative;
  }
  .products-list{
    width: 100%;
    overflow: hidden;
  }
}
@media #{$media-1728}{
  .main-slider-page{
    .products-list__item{
      &:nth-child(n+4){
        display: none;
      }
    }
  }
}

@media #{$media-1166}{
  .main-slider-page{
    .products-list__item{
      &:nth-child(n+3){
        display: none;
      }
    }
  }
}