.our-advantages {
  margin-top: 5.5rem;
  padding-bottom: 1rem;
  &__title {
    font-size: 2.4rem;
    line-height: 0.75;
    color: #2a2024;
  }
  &__list{
    padding: 1.8rem 0;
    width: 100%;
    overflow: hidden;
  }
  &__item{
    width: 19%;
    height: 25.2rem;
    float: left;
    &:not(:last-child){
      margin-right: 1%;
    }
  }
  &__item-image{
    height: 11rem;
    background-image: url('../images/our-advantages/sprite-advantages.png');
    background-repeat:no-repeat;
    background-position: center -9.7rem;
    &.spr-delivery{background-position-y: -24.7rem}
    &.spr-best-price{background-position-y: -39rem}
    &.spr-term{background-position-y: -54rem}
    &.spr-manager{background-position-y: -69rem}
  }
  &__item-title{
    font-family: $FontBase;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.0;
    text-align: center;
    color: #ff7e09;
    margin-bottom: 1.8rem;
    height: 3.5rem;
  }
  &__item-description{
    font-size: 1.4rem;
    line-height: 1.29;
    text-align: center;
    color: #272727;
    max-width: 25.2rem;
    margin: auto;
  }
}

@media #{$media-1728} {
  .our-advantages__item{
    width: 32%;
    &:nth-child(3n){
      margin-right: 0;
    }
    &:nth-child(n+4){
      margin-top: 1rem;
      height: 22rem;
    }
  }
  .our-advantages__list{
    padding-bottom: 0;
  }
}
@media #{$media-1023}{
  .our-advantages__item-description{
    max-width: 18.2rem;
  }
  .our-advantages__item:nth-child(n+4){
    height: 24rem;
  }
}
@media #{$media-686} {
  .our-advantages{
    padding-bottom: 2.7rem;
  }
  .our-advantages__item{
    width: 49%;
    &:nth-child(2n){
      margin-right: 0;
    }
    &:nth-child(n+3){
      margin-top: 3rem;
      height: 20rem;
      .our-advantages__item-title{
        height: 1.8rem;
      }
    }
  }
}