.page-slider{
  position: relative;
  .slick-arrow{
    width: 16.6rem;
    background-color: #ffffff;
    height: 42px;
    line-height: 42px;
    font-size: 1.4rem;
    text-decoration: none;
    border: solid 2px #fcf8f2;
    display: inline-block;
    position: absolute;
    top: -4.9rem;
    cursor: pointer;

    &.slick-prev,
    &.slick-next{
      &:before{
        position: absolute;
        color: #000000;
        font-size: 7px;
        top: 17px;
        width:auto;
        transform: rotate(0);
      }
      &:after{
        font-family: $FontBase;
        font-size: 14px;
        color: #000000;
        position: absolute;
      }
    }
    &.slick-prev{
      left: 0;
      &:before{
        @extend .icon-template2;
        @extend .icon2-ar-long-l;
          left:20px;
      }
      &:after{
        content: 'Предыдущая';
        left: 52px;
      }
    }
    &.slick-next{
      right: 0;
        &:before{
          @extend .icon-template2;
          @extend .icon2-ar-long-r;
          right: 20px;
      }
      &:after{
        content: 'Следующая';
        right: 52px;
      }
    }

  }
}

@media #{$media-960} {
  .page-slider .slick-arrow{
    top: -3.3rem;
  }
}