.page-header-cart{
&__breadcrumbs{
  list-style: none;
  display: flex;
  justify-content: center;
}
  &__breadcrumbs-item{
    font-family: $fopb;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    color: #2a2024;
    white-space: nowrap;
    text-align: center;
    &:not(:last-child){
      position: relative;
      padding-right: 6.5rem;
    }
    &.is-active{
      color: #ff7e09;
    }
    &.is-done{
      color: #999999;
    }
    &:not(:last-child){
      span{
        &:after{
          @extend .icon-template2;
          content: '\e201';
          font-size: 8px;
          vertical-align: middle;
          display: inline-block;
          margin: 0 2rem;
          position: absolute;
          top: 50%;
          margin-top: -4px;
          right: 0;
        }
      }
    }
    br{
      display: none;
    }
  }
}

@media #{$media-1166} {
  .page-header-cart{
    &__breadcrumbs-item{
      font-size: 2.1rem;
    }
  }
}

@media #{$media-740} {
  .page-header-cart{
    &__breadcrumbs-item{
      font-size: 1.8rem;
      &:not(:last-child){
        padding-right: 5.5rem;
      }
      br{
        display: block;
      }
    }
  }
}