.payment-contacts{
  max-width: 67%;
  margin: auto;
  margin-top: 3.8rem;
  font-size: 1.4rem;
  &__title{
    font-family:$fopsb;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    color: #000000;
  }
  &__content{
    margin-top: 2.4rem;
    display: flex;
  }
  &__content-contact{
    &:not(:last-child){
      margin-right: 8rem;
    }
    .payment-contacts__title{
      margin-bottom: 1.6rem;
    }
  }
  &__phone{
    font-family:$fopsb;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.71;
    padding-left: 2.6rem;
    position: relative;
    &:before{
      position: absolute;
      font-size: 1.4rem;
      left: 0;
      top: 50%;
      margin-top: -9px;
    }
  }
  &__skype{
    padding-left: 2.6rem;
    position: relative;
    line-height: 1.71;
    text-decoration: none;
    color: #000;

    &:before{
      position: absolute;
      font-size: 3rem;
      color: #00c6ff;
      left: -8px;
      top: 50%;
      margin-top: -1.5rem;
    }
  }
  &__store{
    margin: 1.6rem 0;
    line-height: 1.29;
    strong{
      font-family:$FontBase;
      font-weight: bold;
    }
  }
}


@media #{$media-960} {
  .payment-contacts{
    max-width:100%;
  }
}