.footer-block
    .footer-block__column
        .footer-contacts
            a.footer-block__title.icon-phone(href='') Контакты
            .footer-block__content
                a.footer-contacts__phone(href="tel:+7 (800) 700-52-10") +7 (800) 700-52-10
                a.footer-contacts__email(href="mailto:karavanmarket@mail.ru ") karavanmarket@mail.ru
                .footer-contacts__address г. Москва: ул. Дмитровское шоссе 157 БЦ "Гефест" стр. 5
                .footer-contacts__address г. Сочи: Адлерский р-он, ул. Суздальская 14
                .footer-contacts__social
                    .footer-contacts__social-icon.icon-fb
                a.footer-contacts__logo(href='')
                    img(src="../images/logo.png")

    .footer-block__column
        .footer-catalog
            a.footer-block__title.icon-catalog(href='') Каталог
            .footer-block__content
                ul.footer-catalog__menu
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Сувениры и подарки
                        span &nbsp;(1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Товары для интерьера
                        span &nbsp;(1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Светильники для дома
                        span &nbsp;(1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Морская тематика
                        span (1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Настольные игры
                        span (1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Посуда и аксессуары для кухни
                        span &nbsp;(1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Бижютерия и украшения
                        span &nbsp;(1 456)
                    li.footer-catalog__menu-item
                        a.footer-catalog__link(href="") Курительные принадлежности
                        span &nbsp;(1 456)
                .footer-catalog__promo-links
                    a.footer-catalog__promo-link.icon-new(href='') Новинки
                    a.footer-catalog__promo-link.icon-promo(href='') Лучшая цена

    .footer-block__column
        .footer-shops
            a.footer-block__title.icon-map(href='') Магазины
            .footer-block__content
                .footer-shops__elem
                    .footer-shops__name Оптово-розничный магазин г.Сочи - Центр
                    .footer-shops__address Адрес:  г.Сочи, Центральный р-он, ул.Пригородная 48. Напротив третьих ворот рынка "Авангард"
                .footer-shops__elem
                    .footer-shops__name Розничный магазин, ТК Славутич
                    .footer-shops__address Адрес:  г. Сочи, Адлерский р-он, ул.Ленина 10в, павильон №11

    .footer-block__column
        .footer-main-menu
            a.footer-block__title.icon-house(href='') О компании
            .footer-block__content
                ul.footer-main-menu__list
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') О компании
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') Новости
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') Условия сотрудничества
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') Магазины
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') Отзывы
                    li.footer-main-menu__item
                        a.footer-main-menu__link(href='') Контакты

    .footer-block__column
        .footer-account
            a.footer-block__title.icon-man(href='') Личный кабинет
            .footer-block__content
                .footer-account__basket.icon-cart
                    .footer-account__basket-goods 5 товаров
                    .footer-account__basket-summ на&nbsp;
                        strong 24900 р
                .footer-account__apps
                    a.footer-account__apps-link
                        img(src='../images/appstore.png')
                    a.footer-account__apps-link
                        img(src='../images/google_play.png')
                .footer-copyright
                    .footer-copyright__image
                        img(src='../images/footer-budha.png')
                    .footer-copyright__text © 2016<br>Оптовый интернет-магазин экзотических сувениров и подарков «Караван»


