meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="SKYPE_TOOLBA", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(name="format-detection", content="telephone=no")
meta(name="msapplication-TileColor", content="#ffffff")
//meta(name="theme-color", content="#ffffff")

link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,400italic&subset=cyrillic-ext,latin-ext,cyrillic,latin', rel='stylesheet', type='text/css')
link(href="../css/global.css", rel="stylesheet", type="text/css")

script(src="../js/vendor/device.min.js", type="text/javascript")
script(src="../js/vendor/modernizr.custom.js", type="text/javascript")
script(src="../js/vendor/jquery-1.11.3.min.js", type="text/javascript")
script(src="../js/vendor/slick.min.js", type="text/javascript")
script(src="../js/vendor/jquery.placeholder.min.js", type="text/javascript")
script(src="../js/vendor/jquery.mCustomScrollbar.concat.min.js", type="text/javascript")
script(src="../js/vendor/jquery.maskedinput.min.js", type="text/javascript")
script(src="../js/vendor/jquery.fs.selecter.min.js", type="text/javascript")
script(src="../js/vendor/jquery.livequery.min.js", type="text/javascript")
script(src="../js/vendor/jquery.dropdown.js", type="text/javascript")
script(src="..js/vendor/nouislider.min.js", type="text/javascript")
script(src="../js/vendor/jquery.fancybox.min.js", type="text/javascript")
script(src="../js/script.js", type="text/javascript")

//-
	script(src="for_testing/jquery.pixlayout.0.9.7.js", type="text/javascript")
	script(type="text/javascript").
		$(function(){
			$.pixlayout({
				src: "for_testing/main.png",
				opacity: 0.6,
				top: 0,
				center: true,
				clip: true,
				show: true
			});
		});

