.left-menu
    .left-menu__tabs.main-tabs
        .left-menu__tabs-items.main-tabs__items
            .left-menu__tabs-item.main-tabs__item.is-default-active.js-main-tabs
                a.left-menu__tabs-item-link(href='#category') Категории
            .left-menu__tabs-item.main-tabs__item.js-main-tabs
                a.left-menu__tabs-item-link(href='#all-goods') Все товары


        .left-menu__content.main-tabs__content
            .left-menu__content-tabs.main-tabs__content-item.is-default-active.js-content-tabs(id='category')
                .left-menu__content-tabs-btn-close.icon-close.js-close-tabs
                ul.left-menu__list
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id="suveniry_i_podarki") Сувениры и подарки (1 456)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='tovarydlya_interera') Товары для интерьера (1 456)
                    li.left-menu__list-item.is-current
                        a.left-menu__list-item-link(href='#' id='svetilniki_dlya_doma') Светильники для дома (1 456)
                        ul.left-menu__submenu-list
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Светильники мозаика
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Нитяные
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Светильники из ракушек
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Светильники из кокоса
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link.is-current(href='#') Комбинированные
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Светильники животные
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='morskaya_tematika') Морская тематика (1 456)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='nastolnie_igry') Настольные игры (1 456)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='posuda_i_aksessuary_dlya_kuhny') Посуда и аксессуары для кухни (1 456)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='bijuteriya_i_ukrasheniya') Бижютерия и украшения (1 456)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#' id='kuritelnie_prinadlejnosty') Курительные принадлежности (1 456)

            .left-menu__content-tabs.main-tabs__content-item.is-pict.js-content-tabs(id='all-goods')
                .left-menu__content-tabs-btn-close.icon-close.js-close-tabs
                ul.left-menu__list
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Подарки для женщин (154)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/2.png");')
                            |ТОП-50 (50)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/3.png");')
                            |Аксессуары для кухни (490)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Турецкая керамика  (214)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Светильники (129)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/2.png");')
                            |Панно (106)
                    li.left-menu__list-item.is-current
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/3.png");')
                            |Животные (106)
                        ul.left-menu__submenu-list
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Драконы, змеи, ящерицы 
                                span &nbsp;(17)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Жабы, лягушки
                                span &nbsp;(18)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Жирафы 
                                span &nbsp;(15)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Зебры 
                                span &nbsp;(9)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Кошки
                                span &nbsp;(108)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Лошади
                                span &nbsp;(18)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Обезьяны 
                                span &nbsp;(4)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Орлы 
                                span &nbsp;(5)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Петухи
                                span &nbsp;(15)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link.is-current(href='#') Разные животные, птицы 
                                span &nbsp;(34)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Рыбы 
                                span &nbsp;(16)
                            li.left-menu__submenu-item
                                a.left-menu__submenu-link(href='#') Обезьяны 
                                span &nbsp;(4)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/1.png");')
                            |Бижутерия, украшения (150)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/4.png");')
                            |Изделия из меди (72)
                    li.left-menu__list-item
                        a.left-menu__list-item-link(href='#')
                            .left-menu__list-image(style='background-image:url("../images/left-menu/5.png");')
                            |Подарки для влюбленных (13)












