.left-pay-info
    .left-pay-info__close-wrap
        .left-pay-info__close.main-btn-close.icon-close
    .left-pay-info__main-notice 
        strong Минимальная сумма заказа<br>
        span Опт: 15 000 руб
        span Розница: 1000 руб
    .left-pay-info__other-info
        .left-pay-info__head
            .left-pay-info__icon.spr-best-price
            .left-pay-info__title Оплата:

        .left-pay-info__side
            .left-pay-info__small-title Безналичный расчет
            .left-pay-info__content
                p Покупатель должен оплатить выставленный нами счет в течении 5 рабочих дне, иначе заказ расформировывается.
                p Товар отправляется покупателю в течении 3-х рабочих дней, после поступления денежных средств нам на счет.

        .left-pay-info__side
            .left-pay-info__small-title Наличными
            .left-pay-info__content
                p Вы можете сделать заказ и оплатить его наличными в наших магазинах, которые находятся по адресам:
                p г.Москва, ул.Дмитровское шоссе, д.157 стр.5 БЦ "Гефест"
                p г.Сочи, Адлерский район, ул.Просвещения, д.118 б.

        .left-pay-info__head
            .left-pay-info__icon.spr-delivery
            .left-pay-info__title Доставка:

        .left-pay-info__side
            .left-pay-info__content
                p Мы осуществляем доставку товара во все регионы России.<br>
                    |Вы можете выбрать любую транспортную компанию.<br>
                    |Услуги транспортной компании оплачивает покупатель. С тарифами и условиями работы Вы можете ознакомиться на сайте выбранной Транспортной компании.
