.main-shop-info__content-tabs.main-tabs__content-item.js-content-tabs(id='delivery')
    .delivery-tab__wrap
        section.page-header-main
            .page-header-main__side
                h1.page-header-main__title Доставка
        .delivery-page-block
            .delivery-page-block__item
                .delivery-page-block__title Доставка по Москве
                .delivery-page-block__context
                        |Доставка по Москве, курьером в пределах МКАД составляет #[strong от 450 руб. до 1000 руб.]<br>
                        |Расчет стоимости зависит от объема, и веса товара. За пределы МКАД, по договоренности.
            .delivery-page-block__item
                .delivery-page-block__title Доставка в Сочи
                .delivery-page-block__context
                    | При заказе на сумму свыше 12 000 руб. доставка по г. Сочи #[strong бесплатная].
            .delivery-page-block__item
                .delivery-page-block__title Доставка по России
                .delivery-page-block__context
                    | Вы можете выбрать любую транспортную компаний-партнеров или указать свою. Доставка до транспортной компании - #[strong 500 руб.]
            .delivery-page-block__item
                .delivery-page-block__title Транспортные компании
                .delivery-page-block__context
                    | С тарифами и условиями их работы Вы можете ознакомиться на их сайтах.
            .delivery-page-block__logo-block
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-1.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-2.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-3.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-4.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-5.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-6.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-7.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-8.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-9.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-10.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-11.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-12.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-13.png')
                a.delivery-page-block__logo-block-img(href="")
                    img(src='../images/delivery/tk-14.png')

        .main-shop-info__footer
            .connection-block
                .connection-block__side
                    .connection-block__staff-photos
                        .connection-block__staff-photos-item
                            img(src='../images/develop/staff-1.png')
                        .connection-block__staff-photos-item
                            img(src='../images/develop/staff-2.png')
                .connection-block__side
                    .connection-block__text Ваши вопросы по ценам на товары<br>Вы можете задать по телефону:
                    .connection-block__phone.icon-phone 8 (800) 700-52-10
                    .connection-block__text Звонок бесплатный


