.main-shop-info__content-tabs.main-tabs__content-item.js-content-tabs(id='how-order')
    .howorder__wrap
        section.page-header-main
            .page-header-main__side
                h1.page-header-main__title Как заказать
        .howorder-block
            .howorder-block__list
                .howorder-block__bg


