.main-shop-info__content-tabs.main-tabs__content-item.js-content-tabs(id='how-order')
    .main-shop-info__content-tabs-btn-close.icon-close.js-close-tabs
    ul.main-shop-info__list
        li.main-shop-info__list-item
            a.main-shop-info__list-item-link(href='#' id="suveniry_i_podarki") Как заказать





