.main-shop-info__content-tabs.main-tabs__content-item.is-default-active.js-content-tabs(id='payment')
    section.page-header-main
        .page-header-main__side
            h1.page-header-main__title Оплата
    .payment-page-block
        .payment-page-block__side
            .payment-page-block__head
                .payment-page-block__icon.spr-best-price
                .payment-page-block__title Наличными
            .payment-page-block__content
                p Вы можете сделать заказ и оплатить его наличными в наших магазинах, которые находятся по адресам:
                ul
                    li г.Москва, ул. Дмитровское шоссе д. 157 стр. 5 БЦ "Гефест"
                    li г.Сочи, Краснодарское кольцо, торговый комплекс «Авангард», павильон №28, 29, 40 магазин "Караван”
                    li г.Сочи- Адлерский район, ул. Просвещения 118 б.

        .payment-page-block__side
            .payment-page-block__head
                .payment-page-block__icon.spr-non-cash
                .payment-page-block__title Безналичный расчёт
            .payment-page-block__content
                ol
                    li Покупатель обязан  оплатить выставленный нами счет в течении 5 рабочих дней, не оплаченный за этот срок заказ будет расформирован.
                    li Заказ доставляется на терминал транспортной компании в течении 3-х рабочих дней после поступления денежных средств на наш расчетный счет.
                    li Для ускорения процесса отправки заказа следует направить на наш электронный адрес сканкопии документов подтверждающих факт оплаты: квитанции либо платежного поручения.

    .payment-contacts
        .payment-contacts__title На любые возникшие вопросы Вам ответят наши менеджеры:
        .payment-contacts__content
            .payment-contacts__content-contact
                .payment-contacts__title В Сочи
                .payment-contacts__phone.icon-phone 8-918-600-93-98
                .payment-contacts__skype.icon2-skype skype: karavanmarket

            .payment-contacts__content-contact
                .payment-contacts__title В Москве
                .payment-contacts__phone.icon-phone 8-915-318-72-25
                .payment-contacts__skype.icon2-skype skype: karavanmoscow

    .main-shop-info__footer
        .note-block
            .note-block__title Внимание!
            .note-block__context
                p Указанные на сайте оптовые цены действуют при заказе от #[strong 15000 руб.]<br>
                    |При заказах от #[strong 1000 руб.] до #[strong 15000 руб.] действует оптовая цена с розничной наценкой

        .connection-block
            .connection-block__side
                .connection-block__staff-photos
                    img(src='../images/develop/staff-1.png')
                    img(src='../images/develop/staff-2.png')
            .connection-block__side
                .connection-block__text Ваши вопросы по ценам на товары<br>Вы можете задать по телефону:
                .connection-block__phone.icon-phone 8 (800) 700-52-10
                .connection-block__text Звонок бесплатный









