.products-list.is-list-small
    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-0
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-0
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay.is-active
                        .products-list__controls-content-mob-link.is-chose.is-active


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


    include ../blocks/_subscribe-page-block
    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить

                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose
    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose

    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose
    .products-list__item
        .products-list__top
            .products-list__gallery
                .products-list__big-photos
                    .products-list__big-photos-list.js-product-list-photos.index-1
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__big-photos-link
                                img.products-list__big-photos-img(src='../images/develop/pic-3.jpg')
                .products-list__preview-photos
                    .products-list__preview-photos-list.js-product-preview-photos.index-1
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-1.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-2.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
                        div
                            a.products-list__preview-photos-link
                                img.products-list__preview-photos-img(src='../images/develop/pic-3.jpg')
        .products-list__main-content-wrap.fw
            .products-list__middle
                .products-list__info
                    .products-list__name
                        a.products-list__name-link(href='') Скульптура резная Слон в попоне 2Hai13
                    .products-list__description
                        span.products-list__description-short Дерево суар, резьба, <br>105*30*18см &nbsp;
                        span.products-list__description-art Артикул: Hai06
                        span.products-list__description-country Индонезия
                    .products-list__buy-info
                        .products-list__price
                            .products-list__price-old 1200 руб.
                            .products-list__price-cur 1120 руб.
                            .products-list__label-block.label-block
                                .products-list__label.is-promo.label-block__label.is-orange
                                    span Акция -20%
                        .products-list__available
                            .products-list__available-stock Наличие в Москве: #[span да]
                            .products-list__available-stock Наличие в Сочи: #[span нет]
                            .products-list__label-block.label-block
                                .products-list__label.is-collection.label-block__label.is-green
                                    span Есть коллекция!

            .products-list__footer
                .products-list__controls
                    .products-list__controls-content
                        a.products-list__controls-content-link.icon-star-full(href='') #[span В избранное]
                        a.products-list__controls-content-link.icon-chart(href='') #[span Комментарий]
                    .products-list__controls-main
                        .products-list__controls-quantity
                            .products-list__controls-quantity-text
                                span Кол-во
                                span Мин. 1шт
                            .products-list__controls-count.main-count
                                .products-list__controls-count-btn.main-count__btn.is-up.js-count(data-count='1').js-count
                                input.products-list__controls-quantity-input
                                .products-list__controls-count-btn.main-count__btn.is-down.js-count(data-count='-1').js-count
                        .products-list__btn.btn.is-green Купить
                    .products-list__controls-content-mob.js-controls-link
                        .products-list__controls-content-mob-link.is-delay
                        .products-list__controls-content-mob-link.is-chose


